# Convert text files to OS line-endings on checkout, and LF on check-in
*               text=auto !eol

# Text files to convert
*.css           text diff=css
*.htm           text diff=html
*.html          text diff=html
*.java          text diff=java
*.js            text
*.json          text
*.jsp           text
*.jspf          text
*.jspx          text
*.properties    text
*.py            text diff=python
*.sql           text
*.tld           text
*.ts            text
*.txt           text
*.xml           text
*.yml           text

# Keep unix endings
*.bash          text eol=lf
*.sh            text eol=lf

# Keep Windows endings
*.bat           text eol=crlf
*.cmd           text eol=crlf

# Known binary files -- Don't change (binary is a macro for -text -diff)
*.bin           binary
*.class         binary
*.dll           binary
*.ear           binary
*.exe           binary
*.gif           binary
*.gz            binary
*.ico           binary
*.jar           binary
*.jpg           binary
*.jpeg          binary
*.png           binary
*.so            binary
*.tar           binary
*.war           binary
*.zip           binary
