<script type="text/javascript">
    LABKEY.requiresExt4ClientAPI(); //NOTE: this is not an official client API yet and might change

    LABKEY.requiresCss('/cbr/cbr.css');
    LABKEY.requiresScript('/cbr/SampleBrowserPanel.js');
</script>
<script>
    Ext4.onReady(function(){
        var webpartContext = <%=webpartContext%>;

        Ext4.create('CBR.SampleBrowser.Panel', {
            //title: 'Browse Samples',
            renderTo: webpartContext.wrapperDivId
        });
    });
</script>
