<module xmlns="http://labkey.org/moduleProperties/xml/">
    <properties>
        <propertyDescriptor name="ClusterUser">
            <description>This is the user or account that will be used for cluster jobs.  Currently only one cluster is expected to be active per folder.</description>
            <canSetPerContainer>true</canSetPerContainer>
            <editPermissions>
                <permission>ADMIN</permission>
            </editPermissions>
        </propertyDescriptor>
        <propertyDescriptor name="PreventClusterInteraction">
            <description>If set to 'true', new jobs to the cluster and all polling of active jobs on the cluster will be halted.</description>
            <canSetPerContainer>false</canSetPerContainer>
            <inputType>checkbox</inputType>
            <defaultValue>false</defaultValue>
            <editPermissions>
                <permission>ADMIN</permission>
            </editPermissions>
        </propertyDescriptor>
        <propertyDescriptor name="RecreateSubmitScriptFile">
            <description>If set to 'true', the submit script file will always be re-created on job submission. Otherwise any existing submit script file will be used as-is.</description>
            <canSetPerContainer>false</canSetPerContainer>
            <inputType>checkbox</inputType>
            <defaultValue>false</defaultValue>
            <editPermissions>
                <permission>ADMIN</permission>
            </editPermissions>
        </propertyDescriptor>
        <propertyDescriptor name="DisallowedNodes">
            <description>A comma-separated list of node names that will be skipped.</description>
            <canSetPerContainer>false</canSetPerContainer>
            <inputType>textArea</inputType>
            <editPermissions>
                <permission>ADMIN</permission>
            </editPermissions>
        </propertyDescriptor>
        <propertyDescriptor name="ClusterDebugMode">
            <description>If set to 'true', cluster submissions will be extremely verbose to the site log. This is designed for admin troubleshooting</description>
            <canSetPerContainer>false</canSetPerContainer>
            <inputType>checkbox</inputType>
            <defaultValue>false</defaultValue>
            <editPermissions>
                <permission>ADMIN</permission>
            </editPermissions>
        </propertyDescriptor>
    </properties>
</module>
