/* display white text in the webpart title area */
.labkey-wp-header th.labkey-wp-title-left, .labkey-wp-header td.labkey-wp-title-left
{
    font-size: 14px;
    color:#ffffff;
}

th.labkey-wp-title-left a:link, th.labkey-wp-title-left a:visited
{
    color:#ffffff;
}

/* change the font family and size */
body, div, td, th, table, img, form
{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
	color: #000000;
}

/* hide the search form */
#headerSearchForm
{
    display: none;
}