<script type="text/javascript" nonce="<%=scriptNonce%>">
    Ext4.onReady(function(){
        if (LABKEY.Security.currentContainer.path != '/'){
            Ext4.Msg.alert('Error', 'This page can only be viewed from the site root', function(){
                window.location = LABKEY.ActionURL.buildURL('project', 'home');
            }, this);
        }
        else
        {
            var webpart = <%=webpartContext%>;
            Ext4.create('OpenLdapSync.panel.LdapSettingsPanel').render(webpart.wrapperDivId);
        }
    });
</script>