<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <!-- Ext and ux styles -->
    <link href="/ExtScheduler/weekview/resources/css/theme-triton/resources/theme-triton-all.css" rel="stylesheet" type="text/css"/>
    <!--<link href="/ExtScheduler/css/theme-triton-all.css" rel="stylesheet" type="text/css"/>-->

    <!-- Scheduler styles -->
    <link href="/ExtScheduler/weekview/resources/css/sch-all-triton.css?ver=4.2.1" rel="stylesheet" type="text/css" />
    <!--<link href="/ExtScheduler/css/sch-all-triton.css" rel="stylesheet" type="text/css" />-->

    <!-- Ext JS includes -->
    <script src="/ExtScheduler/resources/extJs/ext-all.js" type="text/javascript"></script>
    <!--<script src="/ExtScheduler/js/ext-all-debug.js" type="text/javascript"></script>-->
    <script src="/ExtScheduler/weekview/resources/css/theme-triton/theme-triton.js" crossorigin="anonymous" type="text/javascript"></script>
    <!--<script src="/ExtScheduler/js/theme-triton-debug.js" crossorigin="anonymous" type="text/javascript"></script>-->

    <!-- Scheduler files -->
    <script src="/ExtScheduler/resources/extJs/sch-all.js?ver=4.2.1" type="text/javascript"></script>
    <!--<script src="/ExtScheduler/js/sch-all-debug.js" type="text/javascript"></script>-->

    <title>Scheduler Week View</title>
</head>
<body>
<script type="text/javascript">
    Ext.onReady(function ()
    {
        var initScheduler = function()
        {
            Ext.application({
                name     : 'App',
                mainView : 'App.view.Viewport',
                paths    : {
                    'App': LABKEY.contextPath + '/extscheduler/App'
                },
                views    : [
                    'EventForm',
                    'Header',
                    'InfoPanel',
                    'NavigationBar',
                    'ResourceCombo',
                    'Resources',
                    'Scheduler',
                    'Viewport'
                ]
            });
        };


        var queryStoreData = function()
        {
            var resourceStore = null, eventStore = null, userStore = null;

            // query to get the resource store data
            LABKEY.Query.selectRows({
                schemaName: 'extscheduler',
                queryName: 'Resources',
                columns: 'Id,Name,Color,Room,Bldg',
                success: function(data) {
                    resourceStore = Ext.create('Sch.data.ResourceStore', {
                        model   : 'Sch.model.Resource',
                        storeId : 'resource', // referenced by this store id in Scheduler.js, ResourceCombo.js, etc.
                        sorters : {
                            property  : 'Name',
                            direction : "ASC"
                        },
                        data: data.rows
                    });

                    // only initialize the scheduler when all stores have loaded
                    if (eventStore != null && userStore != null) {
                        initScheduler();
                    }
                }
            });

            // query to get the event store data
            LABKEY.Query.selectRows({
                schemaName: 'extscheduler',
                queryName: 'Events',
                columns: 'Id,ResourceId,Name,StartDate,EndDate,UserId,Alias,Owner',
                success: function(data){

                    // need to convert the date fields from a string to JS Date object
                    Ext.each(data.rows, function(row){
                        row.StartDate = new Date(row.StartDate);
                        row.EndDate = new Date(row.EndDate);
                    });

                    eventStore = Ext.create('Sch.data.EventStore', {
                        model : 'Sch.model.Event',
                        storeId : 'event', // referenced by this store id in Scheduler.js, etc.
                        data : data.rows
                    });

                    // only initialize the scheduler when all stores have loaded
                    if (resourceStore != null && userStore != null) {
                        initScheduler();
                    }
                }
            });

            // query to get the Ext Scheduler users store data
            LABKEY.Ajax.request({
                url: LABKEY.ActionURL.buildURL('extscheduler', 'getSchedulerGroupMembers.api'),
                method: 'POST',
                success: function (response) {
                    var data = Ext.JSON.decode(response.responseText);

                    if (!data.success && data.msg)
                    {
                        data.rows = [];
                        Ext.Msg.alert('Error', data.msg);
                    }
                    else if (data.success && data.rows.length == 0)
                    {
                        Ext.Msg.alert('Error', 'No users found in the configured Scheduler user group. Please contact '
                                + 'an administrator to verify that the Scheduler user group is configured correctly.');
                    }

                    Ext.define('User', {
                        extend: 'Ext.data.Model',

                        fields: [
                            {name: 'UserId', type: 'int'},
                            {name: 'LastName', type: 'string'},
                            {name: 'FirstName', type: 'string'},
                            {name: 'DisplayName', type: 'string'},
                            {
                                name: 'FullName',
                                convert: function(v, record) {
                                    if (record.get('LastName') == null || record.get('LastName') == '')
                                        return record.get('DisplayName');
                                    else
                                        return record.get('LastName') + ', ' + record.get('FirstName');
                                }
                            }
                        ]
                    });

                    userStore = Ext.create('Ext.data.Store', {
                        storeId : 'users', // referenced by this store id in InfoPanel.js
                        model: 'User',
                        sorters : {
                            property  : 'FullName',
                            direction : "ASC"
                        },
                        data : data.rows
                    });

                    // only initialize the scheduler when all stores have loaded
                    if (resourceStore != null && eventStore != null) {
                        initScheduler();
                    }
                }
            });
        };

        queryStoreData();
    });
</script>
</body>
</html>