<script type="text/javascript">

    Ext4.onReady(function (){
        var webpart = <%=webpartContext%>;
        var ctx = EHR.Utils.getEHRContext(webpart.wrapperDivId);
        if(!ctx)
            return;

        Ext4.create('Ext.panel.Panel', {
            border: false,
            defaults: {
                border: false
            },
            items: [{
                html: 'This is the ONPRC SSU Module.  Below are links to the surgery schedule and related reports.',
                style: 'padding-bottom: 10px;'
            },{
                xtype: 'ldk-navpanel',
                sections: [{
                    header: 'Scheduled Surgeries',
                    items: [{
                        name: 'View Schedule',
                        url: LABKEY.ActionURL.buildURL('query', 'executeQuery', null, {schemaName: 'onprc_ssu', 'query.queryName': 'schedule'})
                    },{
                        name: 'Presurgical Checklist',
                        url: LABKEY.ActionURL.buildURL('query', 'executeQuery', null, {schemaName: 'onprc_ssu', 'query.queryName': 'schedule', 'query.viewName': 'Checklist'})
                    },{
                        name: 'Enter Surgeries',
                        url: LABKEY.ActionURL.buildURL('ehr', 'dataEntryForm', ctx['EHRStudyContainer'], {formType: 'Surgeries'})
                    },{
                        name: 'Surgeries Entered',
                        url: LABKEY.ActionURL.buildURL('ehr', 'enterData', ctx['EHRStudyContainer'])
                    },{
                        name: 'Surgery Notification',
                        url: LABKEY.ActionURL.buildURL('ldk', 'runNotification', null, {key: 'org.labkey.onprc_ssu.notification.SSU_Notification'})
                    }]
                },{
                    header: 'Reports',
                    items: [{
                        name: 'Today\'s Surgeries',
                        url: LABKEY.ActionURL.buildURL('query', 'executeQuery', ctx['EHRStudyContainer'], {schemaName: 'study', 'query.queryName': 'encounters', 'query.viewName': 'Surgeries Today'})
                    },{
                        name: 'Housing On Surgery Case Open (Cases Closed Today)',
                        url: LABKEY.ActionURL.buildURL('query', 'executeQuery', ctx['EHRStudyContainer'], {schemaName: 'study', 'query.queryName': 'cases', 'query.viewName': 'With Initial Housing', 'query.category~eq': 'Surgery', 'query.enddate~dateeq': Ext4.Date.format(new Date(), 'Y-m-d')})
                    },{
                        name: 'Procedures In SSU Schedule That Do Not Have A Corresponding Procedure Entered',
                        url: LABKEY.ActionURL.buildURL('query', 'executeQuery', null, {schemaName: 'onprc_ssu', 'query.queryName': 'surgeriesNotInEncounters', 'query.date~dateeq': Ext4.Date.format(new Date(), 'Y-m-d')})
                    },{
                        name: 'Surgery Rates',
                        url: LABKEY.ActionURL.buildURL('query', 'executeQuery', ctx['EHRStudyContainer'], {schemaName: 'onprc_billing_public', 'query.queryName': 'chargeableItems', 'query.active~eq': true, 'query.category~eq': 'Surgery'})
                    },{
                        name: 'Census',
                        url: LABKEY.ActionURL.buildURL('query', 'executeQuery', ctx['EHRStudyContainer'], {schemaName: 'study', 'query.queryName': 'encounters', 'query.type/value~eq': 'Surgery', 'query.sort': '-date', 'query.columns': 'Id,date,enddate,project,project/investigatorId,participants/participants,procedureid,Id/Demographics/death,QCState,taskid,afterHours'})
                    }]
                },{
                    header: 'Review',
                    items: [{
                        name: 'Surgeries Needing Review',
                        url: LABKEY.ActionURL.buildURL('query', 'executeQuery', ctx['EHRStudyContainer'], {schemaName: 'study', 'query.queryName': 'encounters', 'query.viewName': 'Surgeries', 'query.qcstate/label~eq': 'Review Required', 'query.columns': 'Id,date,project,procedureid,procedureid/major,participants/participants,summaries/summary,history,QCState,taskid/updateTaskId,requestid,chargetype'})
                    },{
                        name: 'All Tasks Needing Review',
                        url: LABKEY.ActionURL.buildURL('ehr', 'enterData', ctx['EHRStudyContainer'], null)
                    }]
                }]
            }]
        }).render(webpart.wrapperDivId);
    });

</script>