<script type="text/javascript" nonce="<%=scriptNonce%>">
    Ext4.onReady(function(){
        var webpart = <%=webpartContext%>;

        Ext4.create('SequenceAnalysis.panel.AlignmentImportPanel', {
            path : LABKEY.ActionURL.getParameter("path"),
            fileNames : LABKEY.ActionURL.getParameterArray("file") || [],
            fileIds : LABKEY.ActionURL.getParameterArray("fileIds") ? LABKEY.ActionURL.getParameterArray("fileIds").join(';').split(';') : []
        }).render(webpart.wrapperDivId);
    });

</script>