<script type="text/javascript">

    Ext4.onReady(function(){

        var webpart = <%=webpartContext%>;
        Ext4.create('Ext.panel.Panel', {
            border: false,
            defaults: {
                border: false
            },
            items: [{
                html: 'Loading...'
            }],
            listeners: {
                render: function(panel){
                    Laboratory.Utils.getQueryCounts({
                        success: function(queries){
                            var summaryQueries = queries;
                            var config = {
                                xtype: 'ldk-navpanel',
                                width: 550,
                                sections: [{
                                    header: 'General Information',
                                    items: [
                                        {name: 'Overview and Instructions', url: LABKEY.ActionURL.buildURL('sequenceanalysis', 'instructions')},
                                        {name: 'View Pipeline Jobs', url: LABKEY.ActionURL.buildURL("pipeline-status", "showList.view"), renderer: 'linkWithoutLabel'}
                                    ]
                                },{
                                    header: 'Data Import & Analysis',
                                    items: [
                                        {renderer: function(){
                                            return {
                                                xtype: 'ldk-linkbutton',
                                                text: 'Create Readsets',
                                                linkCls: 'labkey-text-link-noarrow',
                                                style: LDK.panel.NavPanel.ITEM_STYLE_DEFAULT + ';margin-left: 2px;',
                                                handler: function(btn){
                                                    var el = btn.up('button');
                                                    Ext4.create('Laboratory.window.WorkbookCreationWindow', {
                                                        urlParams: {
                                                            schemaName: 'sequenceanalysis',
                                                            queryName: 'sequence_readsets'
                                                        },
                                                        controller: 'query',
                                                        action: 'importData',
                                                        title: 'Create Readsets'
                                                    }).show();
                                                }
                                            }
                                        }},
                                        {renderer: function() {
                                            return {
                                                xtype: 'ldk-linkbutton',
                                                text: 'Upload Files / Start Analysis',
                                                linkCls: 'labkey-text-link-noarrow',
                                                style: LDK.panel.NavPanel.ITEM_STYLE_DEFAULT + ';margin-left: 2px;',
                                                handler: function (btn) {
                                                    var el = btn.up('button');
                                                    Ext4.create('Laboratory.window.WorkbookCreationWindow', {
                                                        urlParams: null,
                                                        controller: 'pipeline',
                                                        action: 'browse',
                                                        title: 'Upload Files / Start Analysis'
                                                    }).show();
                                                }
                                            }
                                        }},
                                        {name: 'View Pipeline Jobs', url: LABKEY.ActionURL.buildURL('pipeline-status', 'showList.view'), renderer: 'linkWithoutLabel'},
                                        {name: 'Instrument Runs', url: LABKEY.ActionURL.buildURL('query', 'executeQuery', null, {schemaName: 'sequenceanalysis', queryName: 'instrument_runs'}), renderer: 'linkWithoutLabel'}
                                    ]
                                },{
                                    header: 'Summary',
                                    renderer: 'summaryCountRenderer',
                                    items: [

                                    ]
                                },{
                                    header: 'Browse Results',
                                    items: [
                                        {name: 'View Sequence Alignment Summary', url: LABKEY.ActionURL.buildURL('query', 'executeQuery', null, {schemaName: 'sequenceanalysis', queryName: 'alignment_summary_grouped'}), renderer: 'linkWithoutLabel'},
                                        {name: 'View NT SNP Summary', url: LABKEY.ActionURL.buildURL('query', 'executeQuery', null, {schemaName: 'sequenceanalysis', queryName: 'nt_snps_by_pos'}), renderer: 'linkWithoutLabel'},
                                        {name: 'View AA SNP Summary', url: LABKEY.ActionURL.buildURL('query', 'executeQuery', null, {schemaName: 'sequenceanalysis', queryName: 'aa_snps_by_codon'}), renderer: 'linkWithoutLabel'}
                                    ]
                                },{
                                    header: 'References',
                                    items: [
                                        {name: 'Reference Sequences', url: LABKEY.ActionURL.buildURL('query', 'executeQuery', null, {schemaName: 'sequenceanalysis', queryName: 'ref_nt_sequences'}), renderer: 'linkWithoutLabel'},
                                        {name: 'Reference Genomes', url: LABKEY.ActionURL.buildURL('query', 'executeQuery', null, {schemaName: 'sequenceanalysis', queryName: 'reference_libraries'}), renderer: 'linkWithoutLabel'}
                                    ]
                                }]
                            };

                            Ext4.each(summaryQueries, function(q){
                                config.sections[2].items.push(q)
                            }, this);

                            Ext4.create('LDK.panel.NavPanel', config);

                            panel.removeAll();
                            panel.add([{
                                style: 'padding: 5px;padding-bottom: 20px;',
                                html: 'There two components to the SequenceAnalysis module.  First, it can be used to manage sequence data and to connect these sequences with sample information.  This allows you to identify current or historic data based on sample attributes such as subject Id, sample date, etc.  There are many built in quality control tools, such as integration with FASTQC, that may be useful to evaluate data or track sequencer performance.  The second component of this module is data analysis.  This module provides a flexible pipeline that integrates with a wide range of analysis tools.  You can either create a new pipeline by combining tools/steps, or re-use a previously saved analysis.'
                            }, config]);
                        },
                        failure: LDK.Utils.getErrorCallback(),
                        scope: this,
                        queries: [{
                            schemaName: 'sequenceanalysis',
                            queryName: 'sequence_readsets',
                            sql: 'SELECT count(*) as total from sequenceanalysis.sequence_readsets s WHERE s.fileid IS NOT NULL',
                            viewName: 'Data Imported',
                            name: 'Readsets Imported'
                        },{
                            schemaName: 'sequenceanalysis',
                            queryName: 'sequence_analyses',
                            name: 'Alignments Created'
                        },{
                            schemaName: 'sequenceanalysis',
                            queryName: 'outputfiles',
                            name: 'Output Files'
                        }]
                    });
                }
            }
        }).render(webpart.wrapperDivId);
    });
</script>