DISCVR-Seq was first created in 2009, and is closely associated with <a href="https://code.google.com/p/discvr/">DISCVR</a>, a set of modules designed to manage lab data.  There are two primary pieces to the sequence tools:
<h3>1) Find Your Data:</h3>
This provides a general-purpose system to manage sequence data and connect these files with metadata (such as sample Id, sample type, etc).  It builds on the strengths of LabKey Server, an open-source platform designed to manage scientific data.
Sequence data can be uploaded manually; however, often a group will configure the system to automatically import data from a sequencer.  Data can be uploaded from a variety of platforms and in multiple formats,
including FASTQ, SFF, FASTA, etc.  On upload, all data will be normalized into FASTQ format and compressed to save space.
Once the sequence data is stored in the system, users can easily search to find data matching any of the attributes that have been captured.
Data can be easily downloaded, and the system also provides mechanisms to capture and reports various run metrics, such as read count or average read length.
Beyond manual download, LabKey Server provides many mechanisms for systems to access the files, meaning it is possible for external analysis programs or scripts to easily use them.
<br><br>
<b><a href="<%=contextPath%>/sequenceanalysis/<%=containerPath%>/dataImportInstructions.view">Click here for more detailed instructions on importing and managing data.</a></b>
<br>

<h3>2) Simplified Data Analysis:</h3>
The second part of the module is analysis of sequence data.  This module provides a flexibile, yet powerful and user-friendly way to string together
sequence tools to process sequene data, perform the alignment, call variation, etc.  The goal is to provide a more user-friendly way to work with
command-line tools.  Unlike many solutions, data-management is a key part of the pipeline.  The output of the analysis is stored in a
database where it can be tracked, searched, and reported through the web interface. This allows you to manage output files, alignment/SNP data
as well as settings associated with the run.
<br><br>
This module builds on <a href="https://www.labkey.org/wiki/home/Documentation/page.view?name=pipeline">LabKey Server's pipeline engine</a>, which was originally created for high-throughput
proteomics analysis.  This allows for basic features such as allowing large analysis jobs to run in the background, and a queue of pending jobs.  In addition to these,
more advanced sites can configure analysis jobs to run on one or more remote analysis servers.

<br><br>
<b><a href="<%=contextPath%>/sequenceanalysis/<%=containerPath%>/dataAnalysisInstructions.view">Click here for more detailed instructions on data analysis.</a></b>