<script type="text/javascript">

    Ext4.onReady(function(){
        var webpart = <%=webpartContext%>;

        Ext4.create('Ext.panel.Panel', {
            defaults: {
                border: false
            },
            border: false,
            listeners: {
                render: function(panel){
                    LABKEY.Ajax.request({
                        url: LABKEY.ActionURL.buildURL('sequenceanalysis', 'getAnalysisToolDetails'),
                        scope: panel,
                        success: LABKEY.Utils.getCallbackWrapper(panel.onDataLoad, panel),
                        failure: LDK.Utils.getErrorCallback()
                    });
                }
            },
            onDataLoad: function(results){
                var target = this.down('#toolPanel');
                var toAdd = [{
                    html : '<br>The Sequence Pipeline is designed to provide a flexible way to combine sequence tools together.  You can create a new pipeline by strining steps together, or save pipelines for repeated used.  ' +
                        'The following tools are currently supported, and it is possible to register additional tools.'
                }];

                var steps = [
                    {name: 'fastqProcessing', label: 'FASTQ Processing'},
                    //{referenceLibraryCreation: 'Reference Library'},
                    {name: 'alignment', label: 'Alignment'},
                    {name: 'bamPostProcessing', label: 'BAM Post-processing'},
                    {name: 'variantCalling', label: 'Variant Calling'},
                    {name: 'variantPostProcessing', label: 'Variant Post Processing'},
                    {name: 'analysis', label: 'Downstream Analysis'}
                ];

                var toolItems = [];

                Ext4.Array.forEach(steps, function(step){
                    if (results[step.name] && results[step.name].length){
                        toolItems.push({
                            style: 'padding-top: 10px;padding-bottom: 5px;',
                            colspan: 3,
                            html: '<i>' + step.label + ':</i>'
                        });

                        var tools = results[step.name];
                        LDK.Utils.sortByProperty(tools, 'label');

                        Ext4.Array.forEach(tools, function(tool){
                            toolItems = toolItems.concat([{
                                html: '- ' + tool.label
                            },{
                                xtype: 'ldk-linkbutton',
                                linkCls: 'labkey-text-link',
                                text: 'Description',
                                style: 'padding-left: 10px;',
                                toolCfg: tool,
                                handler: function(btn){
                                    Ext4.Msg.alert(btn.toolCfg.label, (btn.toolCfg.description || 'No Description Provided'));
                                }
                            },{
                                xtype: 'ldk-linkbutton',
                                linkCls: (tool.websiteURL ? 'labkey-text-link' : ''),
                                text: (tool.websiteURL ? 'View Website' : ''),
                                url: tool.websiteURL,
                                style: 'padding-left: 20px;'
                            }]);
                        }, this);
                    }
                }, this);

                toAdd.push({
                    style: 'padding-left: 10px;',
                    border: false,
                    defaults: {
                        border: false
                    },
                    layout: {
                        type: 'table',
                        columns: 3
                    },
                    items: toolItems
                });

                target.removeAll();
                target.add(toAdd);
            },
            items: [{
                html: 'The SequenceAnalysis was first created in 2009, and is closely associated with <a href="https://code.google.com/p/discvr/">DISCVR</a>, a set of modules designed to manage lab data.  There are two primary pieces to this module:' +
                        '<h3>1) Find Your Data:</h3>' +
                        'This provides a general-purpose system to manage sequence data and connect these files with metadata (such as sample Id, sample type, etc).  It builds on the strengths of LabKey Server, an open-source platform designed to manage scientific data.  ' +
                        'Sequence data can be uploaded manually; however, often a group will configure the system to automatically import data from a sequencer.  Data can be uploaded from a variety of platforms and in multiple formats, ' +
                        'including FASTQ, SFF, FASTA, etc.  On upload, all data will be normalized into FASTQ format and compressed to save space.  ' +
                        'Once the sequence data is stored in the system, users can easily search to find data matching any of the attributes that have been captured.  ' +
                        'Data can be easily downloaded, and the system also provides mechanisms to capture and reports various run metrics, such as read count or average read length.  ' +
                        'Beyond manual download, LabKey Server provides many mechanisms for systems to access the files, meaning it is possible for external analysis programs or scripts to easily use them.  ' +

                        '<h3>2) Simplified Data Analysis:</h3>' +
                        'The second part of the module is analysis of sequence data.  This module provides a flexibile, yet powerful and user-friendly way to string together ' +
                        'sequence tools to process sequene data, perform the alignment, call variation, etc.  The goal is to provide a more user-friendly way to work with ' +
                        'command-line tools.  Unlike many solutions, data-management is a key part of the pipeline.  The output of the analysis is stored in a ' +
                        'database where it can be tracked, searched, and reported through the web interface. This allows you to manage output files, alignment/SNP data ' +
                        'as well as settings associated with the run.' +
                        '<br><br>' +
                        'This module builds on <a href="https://labkey.com/solutions/proteomics">LabKey Server\'s pipeline engine</a>, which was originally created for high-throughput ' +
                        'proteomics analysis.  This allows for basic features such as allowing large analysis jobs to run in the background, and a queue of pending jobs.  In addition to these, ' +
                        'more advanced sites can configure analysis jobs to run on one or more remote analysis servers.  '
            },{
                itemId: 'toolPanel',
                border: false,
                defaults: {
                    border: false
                },
                items: [{
                    html: 'Loading...'
                }]
            }]
        }).render(webpart.wrapperDivId);

    });

</script>

