<script type="text/javascript" nonce="<%=scriptNonce%>">

Ext4.onReady(function (){
    var readsetId = LABKEY.ActionURL.getParameter('id');

    if (!readsetId){
        alert('Must Provide Readset Id');
        return;
    }

    var webpart = <%=webpartContext%>;

    Ext4.get(webpart.wrapperDivId).update(
        '<div id="readsetDetails_'+webpart.wrapperDivId+'"></div>' +
        '<br>' +
        '<div id="files_'+webpart.wrapperDivId+'"></div>' +
        '<br>' +
        '<div id="analyses_'+webpart.wrapperDivId+'"></div>' +
        '<br>' +
        '<div id="metricsSummary_'+webpart.wrapperDivId+'"></div>' +
        '<br>' +
        '<div id="readsetSummary_'+webpart.wrapperDivId+'"></div>'
    );

    Ext4.create('LDK.panel.DetailsPanel', {
        title: 'Readset Details',
        renderTo: 'readsetDetails_'+webpart.wrapperDivId,
        showBackBtn: false,
        store: {
            schemaName: 'sequenceanalysis',
            queryName: 'sequence_readsets',
            containerPath: Laboratory.Utils.getQueryContainerPath(),
            filterArray: [LABKEY.Filter.create('rowid', readsetId, LABKEY.Filter.Types.EQUAL)]
        },
        detailsConfig: {
            buttons: [{
                text: 'More Actions',
                menu: [{
                    text: 'Edit Details',
                    href: LABKEY.ActionURL.buildURL('ldk', 'manageRecord', null, {schemaName: 'sequenceanalysis', queryName: 'sequence_readsets', keyField: 'rowid', key: readsetId}) + '&returnUrl=' + LDK.Utils.getSrcURL()
                }]
            }]
        }
    });

    LDK.Utils.getBasicQWP({
        title: 'Read Data',
        schemaName: 'sequenceanalysis',
        queryName: 'readData',
        containerPath: Laboratory.Utils.getQueryContainerPath(),
        //columns: 'rowid,data,role,data/downloadlink',
        filterArray: [LABKEY.Filter.create('readset', readsetId, LABKEY.Filter.Types.EQUAL)]
    }).render('files_'+webpart.wrapperDivId);

    LDK.Utils.getReadOnlyQWP({
        title: 'Analyses Using This Readset',
        schemaName: 'sequenceanalysis',
        queryName: 'sequence_analyses',
        maxRows: 10,
        containerPath: Laboratory.Utils.getQueryContainerPath(),
        //columns: 'rowid,data,role,data/downloadlink',
        filterArray: [LABKEY.Filter.create('readset', readsetId, LABKEY.Filter.Types.EQUAL)]
     }).render('analyses_'+webpart.wrapperDivId);

    LDK.Utils.getReadOnlyQWP({
        title: 'Quality Metrics',
        schemaName: 'sequenceanalysis',
        queryName: 'quality_metrics',
        maxRows: 10,
        containerPath: Laboratory.Utils.getQueryContainerPath(),
        columns: 'fileid,metricname,metricvalue,qualvalue,comment,workbook,readset,runid',
        filterArray: [LABKEY.Filter.create('readset', readsetId, LABKEY.Filter.Types.EQUAL)]
     }).render('metricsSummary_'+webpart.wrapperDivId);
});

</script>