<ul>
    <li>
        2011-02-11: Created first webpages to navigate through results.
    </li>
    <li>
        2011-06-18: Added SNP Viewer along with other SNP reports.
    </li>
    <li>
        2011-11-13: Signficant overhaul of pipeline import page.  Also updated pipeline to organize reads into readsets, instead of by sample
    </li>
    <li>
        2011-12-04: Reworked how SNPs are calculated.  The code should be much more streamlined and now support calculation of p-values.
    </li>

</ul>