<script type="text/javascript" nonce="<%=scriptNonce%>">

Ext4.onReady(function(){
    var metadata = {

    };

    var defaultConfig = {
        xtype: 'labkey-searchpanel',
        border: true,
        schemaName: 'sequenceanalysis',
        style: 'padding-bottom: 20px;',
        metadata: {}
    };

    var configs = [{
        queryName: 'Sequence_Analyses'
        ,title: 'Search Sequence Analyses'
        ,metadata: {}
    },{
        queryName: 'Sequence_Readsets'
        ,title: 'Search Sequence Readsets'
        ,metadata: {}
    }];

    var webpart = <%=webpartContext%>;
    var outerPanel = {
        items: [],
        renderTo: webpart.wrapperDivId,
        border: false,
        defaults: {
            border: false
        }
    };

    Ext4.each(configs, function(config){
        Ext4.Object.merge(config, defaultConfig);

        if(metadata[config.queryName]){
            Ext4.Object.merge(config, metadata[config.queryName]);
        }

        outerPanel.items.push(config);
    }, this);

    Ext4.create('Ext.panel.Panel', outerPanel);

});
</script>