<script type="text/javascript" nonce="<%=scriptNonce%>">

Ext4.onReady(function (){
    var analysisIds = LABKEY.ActionURL.getParameter('analysisIds');

    if (!analysisIds){
        alert('Must Provide Analysis Id');
        return;
    }

    analysisIds = analysisIds.split(';');

    var webpart = <%=webpartContext%>;
    Ext4.get(webpart.wrapperDivId).update('This page is designed to output the positions of difference (SNPs) from a viral population in a manner that looks like an alignment.' +
        'The overall purpose is to take an enormous amount of data (or small, depending on your sample) and distill it into an easy to view form.' +
        'This report is meant for research only and is provided without any warranty.' +
        '<p/>' +
        '<div id="snpReportDiv_'+webpart.wrapperDivId+'"></div>');

    Ext4.create('SequenceAnalysis.panel.SnpAlignmentPanel', {
        analysisIds: analysisIds,
        autoLoadData: LABKEY.ActionURL.getParameter('autoLoadData')
    }).render('snpReportDiv_'+webpart.wrapperDivId);
});

</script>
