<div id='vbd-sample-search'></div>

<script type="text/javascript">
    LABKEY.requiresExt4ClientAPI(true);
    LABKEY.requiresExt4Sandbox(true);
</script>

<script type="text/javascript">
    Ext4.onReady(function(){
        var panel = Ext4.create('Ext.form.Panel', {
            name: 'SampleSearchPanel',
            title: '',
            border: false,
            bodyPadding: 5,
            layout: 'anchor',
            defaults: {
                anchor: '100%',
                labelAlign: 'top'
            },
            items: [{
                xtype: 'combo',
                itemId: 'tumorType',
                name: 'tumorType',
                queryMode: 'remote',
                fieldLabel: 'Tumor Type',
                editable: false,
                allowBlank: false,
                displayField: 'value',
                valueField: 'value',
                store: {
                    type: 'labkey-store',
                    storeId: 'tumor-type',
                    schemaName: 'lists',
                    sql: 'SELECT DISTINCT(tumorType_organSite) as value FROM lists.Samples WHERE tumorType_organSite IS NOT NULL AND tumorType_organSite != \'\'',
                    columns: 'tumorType_organSite',
                    sort: 'tumorType_organSite',
                    autoLoad: true
                },
                //addAllSelector: true,
                expandToFitContent: true
            },{
                xtype: 'combo',
                itemId: 'cancerStatus',
                name: 'cancerStatus',
                queryMode: 'remote',
                fieldLabel: 'Cancer Status',
                editable: false,
                allowBlank: false,
                displayField: 'value',
                valueField: 'value',
                store: {
                    type: 'labkey-store',
                    storeId: 'cancer-status',
                    schemaName: 'lists',
                    sql: 'SELECT DISTINCT(PtCancerStatus) as value FROM lists.Samples WHERE PtCancerStatus IS NOT NULL AND PtCancerStatus != \'\'',
                    columns: 'PtCancerStatus',
                    sort: 'PtCancerStatus',
                    autoLoad: true
                },
                //addAllSelector: true,
                expandToFitContent: true
            }],
            buttons: [{
                text: 'Search',
                formBind: true,
                handler: function() {
                    var formValues = panel.getValues();
                    if (formValues.cancerStatus == undefined || formValues.tumorType == undefined)
                        return;
                    else
                        window.location = LABKEY.ActionURL.buildURL('VBD', 'searchresults', null, {PtCancerStatus: formValues.cancerStatus, tumorType_organSite: formValues.tumorType});
                }
            }],
            renderTo: 'vbd-sample-search'
        });
    });
</script>