<table style='width:1100px;' cellpadding='5'>
    <tr>
        <td width='50%' valign='top'><div id='subject-filters'></div></td>
        <td width='50%' valign='top'><div id='sample-filters'></div></td>
    </tr>
</table>
<div id='search-filter-text' style="padding:5px;font-size:larger;"></div>
<br/>
<div id='search-results-qwp'></div>

<script type="text/javascript">
    LABKEY.requiresExt4ClientAPI(true);
    LABKEY.requiresExt4Sandbox(true);
    LABKEY.requiresScript("VBD/VBDSearchFilterPanel.js");
    LABKEY.requiresScript("ux/CheckCombo/CheckCombo.js");
    LABKEY.requiresCss("ux/CheckCombo/CheckCombo.css");
</script>

<script type="text/javascript">
    var cancerStatus = null;
    var tumorType = null;

    Ext4.onReady(function(){
        // get the initial filter options from the URL
        cancerStatus = LABKEY.ActionURL.getParameter('PtCancerStatus');
        tumorType = LABKEY.ActionURL.getParameter('tumorType_organSite');
        if (cancerStatus == null || cancerStatus == '' || tumorType == null || tumorType == '')
        {
            Ext4.get('search-filter-text').update('Error: required cancer status or tumor type filter is missing.');
            return;
        }
        else
        {
            Ext4.get('search-filter-text').update("Search for " + tumorType + " Samples with Status = '" + cancerStatus + "'"
                + "&nbsp;&nbsp;" + LABKEY.Utils.textLink({href: LABKEY.ActionURL.buildURL('project', 'begin'), text: 'Change Search'}));
        }

        // initialize the Subject filter panel
        var subjectFilterPanel = Ext4.create('LABKEY.ext.VBDSearchFilterPanel', {
            title: 'Subject Filters',
            fields: [
                {name: "subjectAgeAtSampleCollection", label: "Age", range: true},
                {name: "subjectGender", label: "Gender"},
                {name: "subjectRace", label: "Race"},
                {name: "subjectEthnicity", label: "Ethnicity"},
                {name: "patientDiagnosis", label: "Patient Diagnosis / Pathology"}
            ],
            whereSqlFragment: getInitialWhereSqlFragment(),
            listeners: {
                filterValuesChanged: function(filterValues){
                    Ext4.apply(filterValues, sampleFilterPanel.getFieldValues());
                    refreshQuery(filterValues);
                }
            }
        });
        subjectFilterPanel.render('subject-filters');

        // initialize the Subject filter panel
        var sampleFilterPanel = Ext4.create('LABKEY.ext.VBDSearchFilterPanel', {
            title: 'Sample Filters',
            fields: [
                {name: "sampleType", label: "Type of Sample"},
                {name: "preservationMethod", label: "Method of Preservation"},
                {name: "sampleDiagnosis", label: "Sample Diagnosis / Pathology"},
                {name: "pathologyStage", label: "Pathology Stage"},
                {name: "sampleCancerStatus", label: "Sample Cancer Status (Tumor vs. Normal)"},
                {name: "pathGrade", label: "Tumor Grade"},
                {name: "mutation", label: "Mutation Present"}
            ],
            whereSqlFragment: getInitialWhereSqlFragment(),
            listeners: {
                filterValuesChanged: function(filterValues){
                    Ext4.apply(filterValues, subjectFilterPanel.getFieldValues());
                    refreshQuery(filterValues);
                }
            }
        });
        sampleFilterPanel.render('sample-filters');

        // initalize the query web part
        refreshQuery();
    });

    function refreshQuery(filterParams)
    {
        filterParams = filterParams || {};

        // convert object of filter params to LabKey filters
        var filters = [
            LABKEY.Filter.create('PtCancerStatus', cancerStatus),
            LABKEY.Filter.create('tumorType_organSite', tumorType)
        ];
        for (param in filterParams)
        {
            if (filterParams[param] != undefined && filterParams[param].length > 0)
            {
                if (param.indexOf("-gt") > -1)
                {
                    var p = param.substring(0, param.indexOf("-gt"));
                    filters.push(LABKEY.Filter.create(p, filterParams[param], LABKEY.Filter.Types.GREATER_THAN_OR_EQUAL));
                }
                else if (param.indexOf("-lt") > -1)
                {
                    var p = param.substring(0, param.indexOf("-lt"));
                    filters.push(LABKEY.Filter.create(p, filterParams[param], LABKEY.Filter.Types.LESS_THAN));
                }
                else
                {
                    var values = filterParams[param].join(";");
                    filters.push(LABKEY.Filter.create(param, values, LABKEY.Filter.Types.IN));
                }
            }
        }

        // create/refresh the query web part with the specified filters
        var qwp = new LABKEY.QueryWebPart({
        	renderTo: 'search-results-qwp',
        	title: '',
            frame: 'none',
        	schemaName: 'lists',
        	queryName: 'Samples',
        	filters: filters,
            showDetailsColumn: false,
            buttonBar: {
                includeStandardButtons: false,
                items:[
                    LABKEY.QueryWebPart.standardButtons.exportRows,
                    LABKEY.QueryWebPart.standardButtons.print,
                    LABKEY.QueryWebPart.standardButtons.pageSize
                ]
            }
        });
    }

    function getInitialWhereSqlFragment()
    {
        return ' PtCancerStatus = \'' + cancerStatus + '\' AND tumorType_organSite = \'' + tumorType + '\'';
    }
</script>
