<module xmlns="http://labkey.org/moduleProperties/xml/">
    <properties>
        <propertyDescriptor name="RC email address">
            <description>The email address to send Research Coordinator notifications to.</description>
            <canSetPerContainer>true</canSetPerContainer>
            <editPermissions>
                <permission>UPDATE</permission>
            </editPermissions>
        </propertyDescriptor>
   </properties>
    <requiredModuleContext>
        <requiredModule name="Core" />
    </requiredModuleContext>
</module>