<script type="text/javascript">

    Ext4.onReady(function (){
        var webpart = <%=webpartContext%>;

        Ext4.create('Ext.panel.Panel', {
            border: false,
            defaults: {
                border: false
            },
            items: [{
                html: 'This is the start of the ONPRC SLA Module.  It will initially provide only an ETL of housing/census and purchase data into LabKey.',
                style: 'padding-bottom: 10px;'
            },{
                xtype: 'ldk-navpanel',
                sections: [{
                    header: 'Census',
                    items: [{
                        name: 'View Census',
                        url: LABKEY.ActionURL.buildURL('query', 'executeQuery', null, {schemaName: 'sla', 'query.queryName': 'census'})
                    }]
                }]
            }]
        }).render(webpart.wrapperDivId);
    });

</script>