<script type="text/javascript">

Ext4.onReady(function (){

    if (LABKEY.Security.currentUser.isAdmin){
        var webpart = <%=webpartContext%>;

        Ext4.define('SLA.panel.ETLPanel', {
            extend: 'Ext.form.Panel',
            initComponent: function(){
                Ext4.apply(this, {
                    border: false,
                    items: [{
                        html: 'Loading...'
                    }],
                    buttons: [{
                        text: 'Submit',
                        handler: this.onSubmit
                    },{
                        text: 'Run ETL Now',
                        itemId: 'runEtlBtn',
                        disabled: true,
                        handler: function(btn){
                            LABKEY.Ajax.request({
                                url: LABKEY.ActionURL.buildURL('sla', 'runEtl', null),
                                method : 'POST',
                                scope: this,
                                failure: LDK.Utils.getErrorCallback(),
                                success: function(){
                                    console.log(arguments);
                                }
                            });
                            Ext4.Msg.alert('Request Sent', 'A request has been sent to start the ETL');
                        }
                    },{
                        text: 'View ETL Log',
                        href: LABKEY.ActionURL.buildURL('sla', 'showEtlLog', '/')
                    }]
                });

                this.loadData();
                this.callParent();
            },

            loadData: function(){
                LABKEY.Ajax.request({
                    url: LABKEY.ActionURL.buildURL('sla', 'getEtlDetails', null),
                    method : 'GET',
                    scope: this,
                    failure: LDK.Utils.getErrorCallback(),
                    success: this.onLoad
                });
            },

            onLoad: function(results){
                var json = LDK.Utils.decodeHttpResponseJson(results);
                var labelWidth = 180;
                var width = 550;

                var toAdd = [];
                toAdd.push({
                    xtype: 'displayfield',
                    value: json.active,
                    labelWidth: labelWidth,
                    width: width,
                    fieldLabel: 'Is Running'
                });

                toAdd.push({
                    xtype: 'displayfield',
                    value: json.scheduled,
                    labelWidth: labelWidth,
                    width: width,
                    fieldLabel: 'Is Scheduled'
                });

                toAdd.push({
                    xtype: 'displayfield',
                    value: json.nextSync,
                    labelWidth: labelWidth,
                    width: width,
                    fieldLabel: 'Time Until Next Sync (seconds)'
                });

                toAdd.push({
                    xtype: 'checkbox',
                    fieldLabel: 'Enabled',
                    labelWidth: labelWidth,
                    width: width,
                    itemId: 'etlStatus',
                    checked: json.disabled            //Modifie: 8-31-2016 R.Blasa
                });

                if (json.enabled)
                    this.down('#runEtlBtn').setDisabled(false);

                Ext4.each(json.configKeys, function(key){
                    toAdd.push({
                        xtype: 'textfield',
                        labelWidth: labelWidth,
                        width: width,
                        itemId: key,
                        fieldLabel: key,
                        value: json.config[key]
                    });
                }, this);

                var tableConfig = {
                    xtype: 'form',
                    title: 'Sync History',
                    itemId: 'syncHistory',
                    bodyStyle: 'padding: 5px;',
                    layout: {
                        type: 'table',
                        columns: 3
                    },
                    border: true,
                    defaults: {
                        border: false
                    },
                    items: [{
                        html: 'Query',
                        height: 20
                    },{
                        html: 'Last Sync',
                        height: 20
                    },{
                        xtype: 'ldk-linkbutton',
                        text: 'Reset Sync',
                        height: 20,
                        handler: function(btn){
                            btn.up('panel').cascade(function(item){
                                if (item.xtype == 'combo'){
                                    item.setValue(-1);
                                }
                            })
                        }
                    }]
                };

                if (json.timestamps){
                    var queries = Ext4.Object.getKeys(json.timestamps);
                    queries = queries.sort();

                    Ext4.each(queries, function(query){
                        tableConfig.items.push({
                            html: query,
                            width: labelWidth
                        });
                        tableConfig.items.push({
                            html:  Ext4.util.Format.date(new Date(json.timestamps[query]), 'Y-m-d H:i'),
                            width: 150
                        });
                        tableConfig.items.push({
                            xtype: 'combo',
                            disabled: json.cannotTruncate.indexOf(query) > -1,
                            width: 300,
                            editable: false,
                            displayField: 'date',
                            valueField: 'rowid',
                            queryName: query,
                            store: {
                                type: 'labkey-store',
                                schemaName: 'sla',
                                queryName: 'etl_runs',
                                autoLoad: true,
                                metadata: {
                                    date: {
                                        convert: function(rec){
                                            if (!rec)
                                                return rec;

                                            return Ext4.isString(rec) ? rec : Ext4.util.Format.date(new Date(rec), 'Y-m-d h:i');
                                        }
                                    }
                                },
                                sort: '-date',
                                filterArray: [LABKEY.Filter.create('queryName', query, LABKEY.Filter.Types.EQUAL)],
                                listeners: {
                                    load: function(store){
                                        var model = LDK.StoreUtils.createModelInstance(store, {rowid: -1});
                                        model.set('date', 'Reset');
                                        store.insert(0, model);
                                    }
                                }
                            }
                        });
                    }, this);
                }

                this.removeAll();
                this.add({
                    title: 'ETL Settings',
                    xtype: 'form',
                    itemId: 'etlSettings',
                    bodyStyle: 'padding: 5px;',
                    items: toAdd
                });
                this.add(tableConfig);
            },

            onSubmit: function(btn){
                var form = btn.up('form');
                var settings = form.down('#etlSettings');
                var fields = settings.getForm().getFields();

                var syncSettings = form.down('#syncHistory');
                var syncFields = syncSettings.getForm().getFields();

                var json = {};

                fields.each(function(field){
                    if (field.itemId)
                        json[field.itemId] = field.getValue();
                }, this);

                var resets = {};
                syncFields.each(function(field){
                    if (field.getValue()){
                        resets[field.queryName] = field.getValue();
                    }
                }, this);

                json.timestamps = Ext4.encode(resets);

                LABKEY.Ajax.request({
                    url: LABKEY.ActionURL.buildURL('sla', 'setEtlDetails', null),
                    method : 'POST',
                    params: json,
                    scope: this,
                    failure: LDK.Utils.getErrorCallback(),
                    success: function(response){
                        Ext4.Msg.alert('Success', 'Save Successful', function(){
                            window.location.reload();
                        });
                    }
                });
            }
        });

        Ext4.create('SLA.panel.ETLPanel', {}).render('etl_div');
    }
});

</script>




            This page allows configuration of the SLA ETL.  There can only be one instance of the ETL active per site at any time.  Below are explanations for the config properties:
<p></p>

<ul>
    <li>
        labkeyUser: A valid LabKey user, which should have admin permission in the SLA folder
    </li>
    <li>
        labkeyContainer: The containerPath to the SLA folder
    </li>
    <li>
        jdbcUrl: An example connection string for SQL Server is: jdbc:jtds:sqlserver://localhost:1433;databaseName=DATABASE;user=USERNAME;password=PASSWORD
    </li>
    <li>
        jdbcDriver: The driver name.  For SQLServer, it should be: net.sourceforge.jtds.jdbc.Driver
    </li>
    <li>
        runIntervalInMinutes: The frequency with which the ETL should run
    </li>
</ul>
<div id="etl_div"/>