.variantDataHeader {
    line-height: 35px;
    padding: 0;
}

.variantDataHeader > div {
    padding-block: 0;
    padding-inline: 8px;
}

.variantDataHeader:first-child {
    border-block-end: 1px solid var(--rdg-border-color)
}

.dataGrid {
    height: 88%;
}