
.overview-heading {
    font-weight: bold;
    font-size: 15px;
}

.request-title {
    font-weight: bold;
}

.request-description {
    font-size: 12px;
}

.request-alt-row td {
    background: #E0E6EA !important;
}

.sample-request-panel .x4-grid-group-title {
    background-image: none !important;
    padding: 0px !important;
}

.sample-request-panel .category-label {
    font-size: 15px;
    font-weight: normal;
}

.x4-action-col-cell {
    vertical-align: middle;
}

.x4-panel-header {
    background: #0870cf;
    background-color: #0870cf;
    background-image: linear-gradient(to bottom, #0870cf, #265f9d) !important;
}

.x4-grid-group-hd {
    border-bottom: solid #265f9d 2px;
}
