<script type="text/javascript">

    Ext4.onReady(function (){

        var webpart = <%=webpartContext%>;

        Ext4.define('MergeSync.panel.InstructionsPanel', {
            extend: 'Ext.panel.Panel',
            initComponent: function(){
                Ext4.apply(this, {
                    border: false,
                    defaults: {
                        border: false
                    },
                    items: [{
                        html: 'Loading...'
                    }]
                });

                this.callParent(arguments);

                LABKEY.Ajax.request({
                    url: LABKEY.ActionURL.buildURL('mergeSync', 'getEtlDetails', null),
                    method : 'GET',
                    scope: this,
                    failure: LDK.Utils.getErrorCallback(),
                    success: this.onLoad
                });
            },

            onLoad: function(results){
                var json = LDK.Utils.decodeHttpResponseJson(results);
                var targetContainer = json && json.config ? json.config.labkeyContainer : null;

                var items =[{
                    html: 'This page describes how the Merge Sync process works and how it is configured.  ' +
                    'There are 2 separate elements: pushing requests from the EHR to Merge, and pulling results from Merge to EHR.' +
                    '<p><b>Push:</b> If enabled, whenever a labwork request is made in the EHR, it will be created in merge, assuming it meets the following criteria' +
                    '<ul>' +
                    '<li>The service type requested in the EHR is translated to a Merge services using a mapping table.  <a href="' + LABKEY.ActionURL.buildURL('query', 'executeQuery', targetContainer, {schemaName: 'mergesync', 'query.queryName' : 'testnamemapping'}) + '">Click here to view it</a>.  If the service type is not found, it will not be created.</li>' +
                    '<li>A record of this transaction is created.  This contains the EHR runId, taskId and also the Merge accession and panel.  <a href="' + LABKEY.ActionURL.buildURL('query', 'executeQuery', targetContainer, {schemaName: 'mergesync', 'query.queryName' : 'orderssynced'}) + '">Click here to view this</a>.</li>' +
                    '<li>When the request is created in merge, it will create this under the username provided in the Merge Sync configuration (see admin console)</li>' +
                    '<li>The results of this request will only be returned if the pull process is enabled</li>' +
                    '</ul>' +
                    '<p><b>Pull:</b> If enabled, periodically the system will query merge and attempt to pull results created in Merge and store them in the EHR.  This uses the following rules:' +
                    '<ul>' +
                    '<li>The Merge data are organized by panel.  Each of these is roughly equal to a batch of tests.  The EHR will import each Merge panel as 1 EHR run.  To view all Merge raw data, as transformed for the EHR, <a href="' + LABKEY.ActionURL.buildURL('query', 'executeQuery', targetContainer, {schemaName: 'mergesync', 'query.queryName' : 'merge_runs'}) + '">click here</a></li>' +
                    '<li>The sync process will pull all validated runs with a validation date greater than the last time the sync ran.</li>' +
                    '<li>The sync inspects each run.  It first determines whether this run was created through the EHR.  This uses the mapping table listed above.  If a matching EHR run is found, the sync uses this runId.</li>' +
                    '<li>If no matching run is found, the sync created a new EHR run (ie. clinpathRuns record).  When this record is created, the service name is determine by mapping the Merge service into EHR service as determined by <a href="' + LABKEY.ActionURL.buildURL('query', 'executeQuery', targetContainer, {schemaName: 'mergesync', 'query.queryName' : 'mergetolkmapping'}) + '">this table</a>.  This mapping is sometimes different than the push mapping, because many of the merge names are not descriptive (ie. miscout), and the EHR would otherwise have a more descriptive name.</li>' +
                    '<li>Based on the service type, we determine whether results are expected or not.  Many tests have manual result entry.  If this test does not expect automatic results, no other processing is performed, and an error is logged if results are found.</li>' +
                    '<li>Once the EHR run is found or created, results are processed.  Any result with "." or "RECEIVED" is ignored.  The remaining results are created in the appropriate DataSet.  The sync expects all Merge test names to exactly match a known labwork test name, as defined in <a href="' + LABKEY.ActionURL.buildURL('query', 'executeQuery', targetContainer, {schemaName: 'ehr_lookups', 'query.queryName' : 'lab_tests'}) + '">ehr_lookups.lab_tests</a></li>' +
                    '</ul>'
                }];
                this.removeAll();
                this.add(items);
            }
        });

        Ext4.create('MergeSync.panel.InstructionsPanel').render(webpart.wrapperDivId);
    });

</script>
