<script type="text/javascript" nonce="<%=scriptNonce%>">

    Ext4.onReady(function (){
        var webpart = <%=webpartContext%>;

        Ext4.create('Ext.panel.Panel', {
            renderTo: webpart.wrapperDivId,
            border: false,
            items: [{
                xtype: 'panel',
                border: false,
                defaults: {
                    border: false
                },
                items: [{
                    html: 'This page contains links and reports designed to help manage single-cell RNA-seq data.'
                }]
            },{
                xtype: 'ldk-navpanel',
                style: 'padding-top: 20px;',
                border: false,
                sections: [{
                    header: 'Data and Processing',
                    items: [{
                        name: '10x GEX Libraries Needing Alignment',
                        url: LABKEY.ActionURL.buildURL('query', 'executeQuery.view', null, {schemaName: 'sequenceanalysis', queryName: 'sequence_readsets', 'query.totalAlignments~eq': 0, 'query.totalForwardReads~isnonblank': null, 'query.application~contains': 'single', 'query.status~isblank': null, 'query.isArchived~eq': 0, 'query.librarytype~contains': 'GEX', 'query.librarytype~doesnotcontain': 'Multiome', 'query.sort': 'name', 'query.maxRows': 250})
                    },{
                        name: '10x VDJ Libraries Needing Alignment',
                        url: LABKEY.ActionURL.buildURL('query', 'executeQuery.view', null, {schemaName: 'sequenceanalysis', queryName: 'sequence_readsets', 'query.totalAlignments~eq': 0, 'query.totalForwardReads~isnonblank': null, 'query.application~contains': 'single', 'query.status~isblank': null, 'query.isArchived~eq': 0, 'query.librarytype~doesnotcontain': 'BCR', 'query.librarytype~contains': 'VDJ', 'query.sort': 'name', 'query.maxRows': 250})
                    },{
                        name: 'Hashing Libraries Needing Feature Counts',
                        url: LABKEY.ActionURL.buildURL('query', 'executeQuery.view', null, {schemaName: 'sequenceanalysis', queryName: 'sequence_readsets', 'query.application~eq': 'Cell Hashing', 'query.totalForwardReads~isnonblank': null, 'query.outputFileTypes~doesnotcontain': 'Cell Hashing Counts', 'query.status~isblank': null, 'query.sort': 'name', 'query.maxRows': 250})
                    },{
                        name: 'Cite-seq Libraries Needing Feature Counts',
                        url: LABKEY.ActionURL.buildURL('query', 'executeQuery.view', null, {schemaName: 'sequenceanalysis', queryName: 'sequence_readsets', 'query.application~contains': 'CITE-Seq', 'query.totalForwardReads~isnonblank': null, 'query.outputFileTypes~doesnotcontain': 'CITE-seq Counts', 'query.status~isblank': null, 'query.sort': 'name', 'query.maxRows': 250})
                    },{
                        name: 'VLoupe Files Needing TCR Import',
                        url: LABKEY.ActionURL.buildURL('query', 'executeQuery.view', null, {schemaName: 'sequenceanalysis', queryName: 'outputfiles', 'query.readset/status~isblank': null, 'query.readset/numTcrResults~eq': 0, 'query.category~eq': '10x VLoupe', 'query.sort': 'readset/name'})
                    },{
                        name: 'Loupe Files Missing Prototype',
                        url: LABKEY.ActionURL.buildURL('query', 'executeQuery.view', null, {schemaName: 'sequenceanalysis', queryName: 'outputfiles', 'query.category~eq': '10x Loupe File', 'query.readset/status~isblank': null, 'query.readset/cDNA/rowid~isnonblank': null, 'query.readset/outputFileTypes~doesnotcontain': 'Prototype', 'query.sort': 'readset/name', 'query.maxRows': 250})
                    },{
                        name: 'Readsets Assigned to Run Lacking Data',
                        url: LABKEY.ActionURL.buildURL('query', 'executeQuery.view', null, {schemaName: 'sequenceanalysis', queryName: 'sequence_readsets', 'query.viewName': 'Assigned to Run Lacking Data'})
                    },{
                        name: 'cDNA Libraries with Hashing and Single HTO/Lane',
                        url: LABKEY.ActionURL.buildURL('query', 'executeQuery.view', null, {schemaName: 'singlecell', queryName: 'cdna_libraries', 'query.uniqueHtos~in': '0;1', 'query.hashingReadsetId/name~isnonblank': null, 'query.hashingReadsetId/totalFiles~eq': 0})
                    },{
                        name: 'Analyses In Novogene-Related Workbook',
                        url: LABKEY.ActionURL.buildURL('query', 'executeQuery.view', null, {schemaName: 'sequenceanalysis', queryName: 'sequence_analyses', 'query.container/title~containsoneof': 'Novogene;shipment'})
                    }]
                },{
                    header: 'Data Archival',
                    items: [{
                        name: 'Single-Cell Samples and Groups',
                        url: LABKEY.ActionURL.buildURL('query', 'executeQuery.view', null, {
                            schemaName: 'singlecell',
                            queryName: 'samples',
                            'query.viewName': 'Cohort Info'
                        })
                    },{
                        name: 'Single-Cell cDNA Libraries and Groups',
                        url: LABKEY.ActionURL.buildURL('query', 'executeQuery.view', null, {
                            schemaName: 'singlecell',
                            queryName: 'cdna_libraries',
                            'query.viewName': 'Cohort Info'
                        })
                    },{
                        name: 'Readsets Not Archived to SRA',
                        url: LABKEY.ActionURL.buildURL('query', 'executeQuery.view', null, {
                                    schemaName: 'sequenceanalysis',
                                    queryName: 'sequence_readsets',
                                    'query.totalForwardReads~isnonblank': null,
                                    'query.isArchived~eq': 0
                                }
                        )
                    },{
                        name: 'CITE-seq/Hashing Readsets Possibly Needing Archival',
                        url: LABKEY.ActionURL.buildURL('query', 'executeQuery.view', null, {
                                    schemaName: 'sequenceanalysis',
                                    queryName: 'sequence_readsets',
                                    'query.viewName': 'SRA Info',
                                    'query.totalForwardReads~isnonblank': null,
                                    'query.application~containsoneof': 'Cell Hashing;CITE-Seq',
                                    'query.totalOutputs~gt': 0,
                                    'query.isArchived~eq': 0,
                                    'query.readdataWithoutSra~eq': 0,
                                    'query.sort': 'name'
                                }
                        )
                    },{
                        name: 'TCR Readsets Possibly Needing Archival',
                        url: LABKEY.ActionURL.buildURL('query', 'executeQuery.view', null, {
                                    schemaName: 'sequenceanalysis',
                                    queryName: 'sequence_readsets',
                                    'query.viewName': 'SRA Info',
                                    'query.totalForwardReads~isnonblank': null,
                                    'query.isArchived~eq': 0,
                                    'query.readdataWithoutSra~eq': 0,
                                    'query.outputFileTypes~contains': '10x VLoupe',
                                    'query.application~contains': 'single',
                                    'query.status~isblank': null,
                                    'query.librarytype~doesnotcontain': 'BCR',
                                    'query.librarytype~contains': 'VDJ',
                                    'query.sort': 'name'
                                }
                        )
                    }, {
                        name: 'Analyses Using Old Readsets',
                        url: LABKEY.ActionURL.buildURL('query', 'executeQuery.view', null, {
                            schemaName: 'sequenceanalysis',
                            queryName: 'sequence_analyses',
                            'query.readset/status~isnonblank': null
                        })
                    }, {
                        name: 'Orphan 10x Run Summaries',
                        url: LABKEY.ActionURL.buildURL('query', 'executeQuery.view', null, {
                            schemaName: 'sequenceanalysis',
                            queryName: 'outputfiles',
                            'query.category~eq': '10x Run Summary',
                            'query.readset/totalOutputs~eq': 1
                        })
                    }, {
                        name: 'Stale Seurat Object Prototypes',
                        url: LABKEY.ActionURL.buildURL('query', 'executeQuery.view', null, {
                            schemaName: 'singlecell',
                            queryName: 'stalePrototypes'
                        })
                    }, {
                        name: 'Duplicate Seurat Object Prototypes',
                        url: LABKEY.ActionURL.buildURL('query', 'executeQuery.view', null, {
                            schemaName: 'singlecell',
                            queryName: 'duplicatePrototypes'
                        })
                    }, {
                        name: 'cDNA Libraries with QC',
                        url: LABKEY.ActionURL.buildURL('query', 'executeQuery.view', null, {
                            schemaName: 'sequenceanalysis',
                            queryName: 'outputfiles',
                            'query.category~eq': 'Seurat Object Prototype',
                            'query.columns': 'rowid,name,description,readset,readset/subjectid,library_id,category,analysis_id,dataid/RowId,runid/jobid,fileSets,workbook,metrics/Fraction Reads in Cells::metricValue,metrics/MeanSaturation$PRNA::metricValue,metrics/TotalCells::metricValue,metrics/FractionDiscordantHashing::metricValue,metrics/FractionFailedHashing::metricValue'
                        })
                    },{
                        name: 'List of Single-cell Datasets',
                        url: LABKEY.ActionURL.buildURL('query', 'executeQuery.view', null, {
                            schemaName: 'singlecell',
                            queryName: 'singlecellDatasets'
                        })
                    }]
                }]
            }]
        });
    });

</script>