fieldset.MuiOutlinedInput-notchedOutline > legend {
    border-style: none;
}

/* this updates the search field itself */
div.MuiInputBase-root {
    font-size: 14px;
}

/* This is the text below the field */
p.MuiFormHelperText-root {
    font-size: 12px;
}

/* This is the search drop-down  */
p.MuiTypography-root {
    font-size: 14px;
}

/* This corrects for the search box 'search for location' text being shifted downward. */
.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    padding: 0;
}