fieldset.MuiOutlinedInput-notchedOutline > legend {
    border-style: none;
}

/* this updates the search field itself */
div.MuiInputBase-root {
    font-size: 16px;
}

/* TODO: This does not work. */
div.MuiAutocomplete-root {
    font-size: 16px;
}