/* This corrects a border that placed a small vertical line to the top-left of the search field */
fieldset.MuiOutlinedInput-notchedOutline > legend {
    border-style: none;
}

html {
    font-size: 16px !important;
}

/* Increase font size for tooltips: */
div[class^="makeStyles-tooltip-"] {
    font-size: 12px;
}

/* mui datagrid cell rendering styles */
.table-cell-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}