<module xmlns="http://labkey.org/moduleProperties/xml/">
    <properties>
        <propertyDescriptor name="GroupName">
            <description>This is the name of your group, which will appear in various places in the UI</description>
            <canSetPerContainer>true</canSetPerContainer>
            <editPermissions>
                <permission>UPDATE</permission>
            </editPermissions>
        </propertyDescriptor>
        <propertyDescriptor name="DefaultWorkbookFolderType">
            <description>This is the folder type used when creating new workbooks in Laboratory folders.  Defaults to Expt Workbook</description>
            <canSetPerContainer>true</canSetPerContainer>
            <defaultValue>Expt Workbook</defaultValue>
            <editPermissions>
                <permission>UPDATE</permission>
            </editPermissions>
        </propertyDescriptor>
    </properties>
    <requiredModuleContext>
        <requiredModule name="LDK"/>
    </requiredModuleContext>
    <clientDependencies>
        <dependency path="Ext4"/>
        <dependency path="Ext4ClientApi"/>
        <dependency path="clientapi"/>
        <dependency path="LDK.context"/>
        <dependency path="laboratory/laboratory"/>
    </clientDependencies>
</module>
