<script type="text/javascript">

    Ext4.onReady(function (){
        var objectid = LABKEY.ActionURL.getParameter('databaseId');

        if (!objectid){
            alert('Must Provide The Session Id');
            return;
        }

        var webpart = <%=webpartContext%>;

        Ext4.get(webpart.wrapperDivId).update(
            '<div id="details_'+webpart.wrapperDivId+'"></div>' +
            '<br>' +
            '<div id="members_'+webpart.wrapperDivId+'"></div>' +
            '<br>' +
            '<div id="jsonfiles2_'+webpart.wrapperDivId+'"></div>' +
            '<br>' +
            '<div id="jsonfiles_'+webpart.wrapperDivId+'"></div>'
        );

        Ext4.create('LDK.panel.DetailsPanel', {
            title: 'Session Details',
            renderTo: 'details_'+webpart.wrapperDivId,
            showBackBtn: false,
            store: {
                schemaName: 'jbrowse',
                queryName: 'databases',
                containerPath: Laboratory.Utils.getQueryContainerPath(),
                filterArray: [LABKEY.Filter.create('objectid', objectid, LABKEY.Filter.Types.EQUAL)]
            }
        });

        LDK.Utils.getBasicQWP({
            title: 'Resources Displayed In This Session',
            schemaName: 'jbrowse',
            queryName: 'database_members',
            containerPath: Laboratory.Utils.getQueryContainerPath(),
            filterArray: [LABKEY.Filter.create('database', objectid, LABKEY.Filter.Types.EQUAL)]
        }).render('members_'+webpart.wrapperDivId);

        LABKEY.Query.selectRows({
            containerPath: Laboratory.Utils.getQueryContainerPath(),
            schemaName: 'jbrowse',
            queryName: 'databases',
            columns: 'rowid,libraryId,container',
            filterArray: [LABKEY.Filter.create('objectid', objectid, LABKEY.Filter.Types.EQUAL)],
            scope: this,
            error: LDK.Utils.getErrorCallback(),
            success: function (results) {
                if (results.rows && results.rows.length) {
                    var genomeId = results.rows[0].libraryId;
                    var container = results.rows[0].container;

                    LDK.Utils.getBasicQWP({
                        title: 'Additional Tracks Provided By The Base Genome',
                        schemaName: 'jbrowse',
                        queryName: 'jsonfiles',
                        containerPath: container,
                        filterArray: [LABKEY.Filter.create('trackid/library_id', genomeId, LABKEY.Filter.Types.EQUAL)]
                    }).render('jsonfiles_' + webpart.wrapperDivId);
                }
            }
        });

        LABKEY.Query.selectRows({
            containerPath: Laboratory.Utils.getQueryContainerPath(),
            schemaName: 'jbrowse',
            queryName: 'database_members',
            columns: 'jsonfile,container',
            filterArray: [LABKEY.Filter.create('database', objectid, LABKEY.Filter.Types.EQUAL)],
            scope: this,
            error: LDK.Utils.getErrorCallback(),
            success: function (results) {
                if (results.rows && results.rows.length) {
                    var jsonFiles = [];
                    var containers = [];
                    Ext4.Array.forEach(results.rows, function(r){
                        jsonFiles.push(r.jsonfile);
                        containers.push(r.container);
                    }, this);

                    jsonFiles = Ext4.unique(jsonFiles);
                    containers = Ext4.unique(containers);
                    var container = containers[0];

                    LDK.Utils.getReadOnlyQWP({
                        title: 'Tracks Provided By This Session',
                        schemaName: 'jbrowse',
                        queryName: 'jsonfiles',
                        containerPath: container,
                        filterArray: [LABKEY.Filter.create('objectid', jsonFiles.join(';'), LABKEY.Filter.Types.IN)]
                    }).render('jsonfiles2_' + webpart.wrapperDivId);
                }
            }
        });

    });

</script>
