<script type="text/javascript">

Ext4.onReady(function (){

    if (LABKEY.Security.currentUser.isAdmin){
        var webpart = <%=webpartContext%>;

        Ext4.define('SettingsPanel', {
            extend: 'Ext.form.Panel',
            initComponent: function(){
                Ext4.apply(this, {
                    border: false,
                    items: [{
                        html: 'This page allows site-level administration of integration with a JBrowse server.  In this scenario, LabKey serves as the database and source of sequence data and tracks.  LabKey allows the user to choose tracks and load a customized JBrowse session.  For this to work, LabKey must have access to the JBrowse root.  LabKey will create a new folder under this root names /labkey, and will create two subfolders here.  The first is a directory holding processed JSON for the tracks and other data.  There is a single list, with each LabKey resource only being processed once.  There is a separate subfolder of datasources.  Each time the user creates a new session, a folder is created with the config files specifying which resources to load.  These sessions can be saved for future use.  These are the config properties:' +
                            '<p></p>' +
                            '<ul>' +
                                '<li>' +
                                    'jbrowseURL: the base URL to the JBrowse server' +
                                '</li>' +
                                '<li>' +
                                    'jbrowseRoot: the path where the processed JSON files will be stored.  It should be accessible to the JBrowse/Apache config.  The OS user that is used to run tomcat must have r/w access to this folder.  This location could reside elsewhere on the filesystem if you configure apache appropriately.' +
                                '</li>' +
                                '<li>' +
                                    'jbrowseBinDir: the path to the jbrowse bin directory, typically something like /var/www/jbrowse/bin.' +
                                '</li>' +
                                '<li>' +
                                    'jbrowseDbPrefix: this is the URL relative path to the folder you provided as the jbrowseRoot.  For example, if the root of your JBrowse server is http://myServer.com/jbrowse/, and your custom data location is accessible using http://myServer.com/jbrowse/labkey, then you should set this to \'labkey\'.  This is appended to all URLs to allow JBrowse to load the data appropriately.' +
                                '</li>' +
                                '<li>' +
                                    'compressJson: Either true or false.  If true, the JSON files will be compressed when created.  In order for this to work, you must follow the JBrowse docs for enabling compression in Apache.' +
                                '</li>' +
                            '</ul>',
                        border: false,
                        style: 'padding-bottom: 20px;'
                    },{
                        border: false,
                        itemId: 'settings',
                        items: [{
                            html: 'Loading...'
                        }]
                    }]
                });

                this.loadData();
                this.callParent();
            },

            loadData: function(){
                Ext4.Ajax.request({
                    url: LABKEY.ActionURL.buildURL('jbrowse', 'getSettings', null),
                    method : 'GET',
                    scope: this,
                    failure: LDK.Utils.getErrorCallback(),
                    success: this.onLoad
                });
            },

            onLoad: function(results){
                var json = LDK.Utils.decodeHttpResponseJson(results);
                var labelWidth = 160;
                var width = 550;

                var toAdd = [];
                Ext4.each(json.configKeys, function(key){
                    toAdd.push({
                        xtype: 'textfield',
                        labelWidth: labelWidth,
                        width: width,
                        itemId: key,
                        fieldLabel: key,
                        value: json.config[key]
                    });
                }, this);

                var target = this.down('#settings');
                target.removeAll();
                target.add({
                    xtype: 'form',
                    border: false,
                    bodyStyle: 'padding: 5px;',
                    items: toAdd,
                    buttons: [{
                        text: 'Save Settings',
                        itemId: 'saveBtn',
                        handler: this.onSubmit
                    }]
                });
            },

            onSubmit: function(btn){
                var form = btn.up('form');
                var fields = form.getForm().getFields();

                var json = {};

                fields.each(function(field){
                    if (field.itemId)
                        json[field.itemId] = field.getValue();
                }, this);

                Ext4.Ajax.request({
                    url: LABKEY.ActionURL.buildURL('jbrowse', 'setSettings', '/'),
                    method : 'POST',
                    params: json,
                    scope: this,
                    failure: LDK.Utils.getErrorCallback(),
                    success: function(response){
                        Ext4.Msg.alert('Success', 'Save Successful', function(){
                            window.location.reload();
                        });
                    }
                });
            }
        });

        Ext4.create('SettingsPanel', {}).render(webpart.wrapperDivId);
    }
});

</script>