<script type="text/javascript">

Ext4.onReady(function (){

    if (LABKEY.Security.currentUser.isAdmin){
        var webpart = <%=webpartContext%>;

        Ext4.define('SettingsPanel', {
            extend: 'Ext.form.Panel',
            initComponent: function(){
                Ext4.apply(this, {
                    border: false,
                    items: [{
                        html: 'This page allows site-level administration of integration with JBrowse.  In this scenario, LabKey serves as the database and source of sequence data and tracks.  LabKey allows the user to choose tracks and load a customized JBrowse session.  In the background, this module will prepare your sequences and tracks for viewing in JBrowse.  This module includes the code for JBrowse, and wraps that application.  These are the config properties:' +
                            '<p></p>' +
                            '<ul>' +
                                '<li>' +
                                    'compressJson: Either true or false.  If true, the JSON files will be compressed when created.  In order for this to work, you must follow the JBrowse docs for enabling compression in Apache.' +
                                '</li>' +
                            '</ul>',
                        border: false,
                        style: 'padding-bottom: 20px;'
                    },{
                        border: false,
                        itemId: 'settings',
                        items: [{
                            html: 'Loading...'
                        }]
                    }]
                });

                this.loadData();
                this.callParent();
            },

            loadData: function(){
                Ext4.Ajax.request({
                    url: LABKEY.ActionURL.buildURL('jbrowse', 'getSettings', null),
                    method : 'GET',
                    scope: this,
                    failure: LDK.Utils.getErrorCallback(),
                    success: this.onLoad
                });
            },

            onLoad: function(results){
                var json = LDK.Utils.decodeHttpResponseJson(results);
                var labelWidth = 160;
                var width = 550;

                var toAdd = [];
                Ext4.each(json.configKeys, function(key){
                    toAdd.push({
                        xtype: 'textfield',
                        labelWidth: labelWidth,
                        width: width,
                        itemId: key,
                        fieldLabel: key,
                        value: json.config[key]
                    });
                }, this);

                var target = this.down('#settings');
                target.removeAll();
                target.add({
                    xtype: 'form',
                    border: false,
                    bodyStyle: 'padding: 5px;',
                    items: toAdd,
                    buttons: [{
                        text: 'Save Settings',
                        itemId: 'saveBtn',
                        handler: this.onSubmit
                    }]
                });
            },

            onSubmit: function(btn){
                var form = btn.up('form');
                var fields = form.getForm().getFields();

                var json = {};

                fields.each(function(field){
                    if (field.itemId)
                        json[field.itemId] = field.getValue();
                }, this);

                Ext4.Ajax.request({
                    url: LABKEY.ActionURL.buildURL('jbrowse', 'setSettings', '/'),
                    method : 'POST',
                    params: json,
                    scope: this,
                    failure: LDK.Utils.getErrorCallback(),
                    success: function(response){
                        Ext4.Msg.alert('Success', 'Save Successful', function(){
                            window.location.reload();
                        });
                    }
                });
            }
        });

        Ext4.create('SettingsPanel', {}).render(webpart.wrapperDivId);
    }
});

</script>