<module xmlns="http://labkey.org/moduleProperties/xml/">
    <properties>
        <propertyDescriptor name="BillingContainer">
            <canSetPerContainer>true</canSetPerContainer>
            <description>The is the path to the container holding billing data.  Use of slashes is very important - it should be in the format '/myProject/ehr'</description>
            <editPermissions>
                <permission>ADMIN</permission>
            </editPermissions>
        </propertyDescriptor>
        <propertyDescriptor name="IssuesContainer">
            <canSetPerContainer>true</canSetPerContainer>
            <description>The is the path to the issue tracker used by the Finance group.  Use of slashes is very important - it should be in the format '/myProject/ehr'</description>
            <editPermissions>
                <permission>ADMIN</permission>
            </editPermissions>
        </propertyDescriptor>
        <propertyDescriptor name="DefaultBillingPhoneNumber">
            <canSetPerContainer>true</canSetPerContainer>
            <description>The is the default phone number to use when generating IBS sheets.</description>
            <editPermissions>
                <permission>ADMIN</permission>
            </editPermissions>
        </propertyDescriptor>
    </properties>
</module>
