<script type="text/javascript">

Ext4.onReady(function(){
    var webpart = <%=webpartContext%>;
    Ext4.get(webpart.wrapperDivId).update('Loading...');

    function getImportItemCfg(i){
        return {
            urlConfig: i.importUrl,
            handler: function(btn){
                if(!LABKEY.Security.currentUser.canInsert){
                    alert('You do not have permission to import data');
                    return;
                }
                if(LABKEY.Security.currentContainer.isWorkbook)
                    window.location = LABKEY.ActionURL.buildURL(btn.urlConfig.controller, btn.urlConfig.action, null, btn.urlConfig.params);
                else {
                    var el = btn.up('button');
                    Ext4.create('Laboratory.window.WorkbookCreationWindow', {
                        controller: btn.urlConfig.controller,
                        action: btn.urlConfig.action,
                        urlParams: btn.urlConfig.params,
                        workbookFolderType: 'Expt Workbook'
                    }).show(el);
                }
            }
        }
    }

    Laboratory.Utils.getDataItems({
        types: ['data', 'samples'],
        scope: this,
        success: function(result){
            var importItems = [];
            if(Ext4.isArray(result.data) && result.data.length){
                Ext4.each(result.data, function(i){
                    if(!LABKEY.Utils.isEmptyObj(i.importUrl) && LABKEY.Security.currentUser.canInsert){
                        var cfg = {
                            text: i.label
                        }

                        if (!i.assayRunTemplateUrl || LABKEY.Utils.isEmptyObj(i.assayRunTemplateUrl)){
                            Ext4.apply(cfg, getImportItemCfg(i));
                        }
                        else
                        {
                            cfg.menu = {
                                xtype: 'menu',
                                items: [{
                                    text: i.assayRunTemplateText || 'Prepare Run',
                                    iconCls: 'x-menu-noicon',
                                    qtip: 'Click to upload sample information and prepare an experiment before importing the results.',
                                    urlConfig: i.assayRunTemplateUrl,
                                    importTitle: i.assayRunTemplateText || 'Import Data',
                                    handler: function(btn){
                                        var el = btn.up('button');
                                        Ext4.create('Laboratory.window.WorkbookCreationWindow', {
                                            urlParams: btn.urlConfig.params,
                                            controller: btn.urlConfig.controller,
                                            action: btn.urlConfig.action,
                                            title: btn.importTitle,
                                            workbookFolderType: 'Expt Workbook'
                                        }).show(el);
                                    }
                                },{
                                    text: i.viewRunTemplateText || 'View Planned Runs',
                                    iconCls: 'x-menu-noicon',
                                    qtip: 'Click to view previously saved assay runs.',
                                    hidden: !i.viewRunTemplateUrl,
                                    href: i.viewRunTemplateUrl ? i.viewRunTemplateUrl.url : undefined
                                },{
                                    text: i.uploadResultsText || 'Import Results',
                                    qtip: 'Click to upload new results.',
                                    urlConfig: i.importUrl,
                                    importTitle: i.uploadResultsText || 'Upload Results',
                                    handler: function(btn){
                                        var el = btn.up('button');
                                        Ext4.create('Laboratory.window.WorkbookCreationWindow', {
                                            controller: btn.urlConfig.controller,
                                            action: btn.urlConfig.action,
                                            urlParams: btn.urlConfig.params,
                                            title: btn.importTitle,
                                            workbookFolderType: 'Expt Workbook'
                                        }).show(el);
                                    }
                                }]
                            };
                        }

                        importItems.push(cfg);
                    }
                }, this);
            }

            if (importItems.length == 0){
                importItems.push({
                    text: 'There are no data types defined'
                })
            }

            var sampleItems = [];
            if(Ext4.isArray(result.samples) && result.samples.length){
                Ext4.each(result.samples, function(i){
                    if (!LABKEY.Utils.isEmptyObj(i.importUrl) && LABKEY.Security.currentUser.canInsert){
                        sampleItems.push({
                            text: i.label,
                            urlConfig: i.importUrl,
                            handler: function(btn){
                                if(!LABKEY.Security.currentUser.canInsert){
                                    alert('You do not have permission to import data');
                                    return;
                                }
                                if(LABKEY.Security.currentContainer.isWorkbook)
                                    window.location = LABKEY.ActionURL.buildURL(btn.urlConfig.controller, btn.urlConfig.action, null, btn.urlConfig.params);
                                else {
                                    var el = btn.up('button');
                                    Ext4.create('Laboratory.window.WorkbookCreationWindow', {
                                        controller: btn.urlConfig.controller,
                                        action: btn.urlConfig.action,
                                        urlParams: btn.urlConfig.params,
                                        workbookFolderType: 'Expt Workbook'
                                    }).show(el);
                                }
                            }
                        });
                    }
                }, this);
            }

            if (sampleItems.length == 0){
                sampleItems.push({
                    text: 'There are no sample types defined'
                })
            }

            var config = {
                width: 120,
                border: false,
                style: 'margin-left:auto;margin-right:auto;padding:5px;',
                defaults: {
                    xtype: 'button',
                    style: 'margin-left:auto;margin-right:auto;',
                    align: 'center',
                    baseCls: 'no-class',  //remove default ext styling
                    hrefTarget: null,
                    cls: 'tool-icon',
                    icon: true,
                    setIcon: function(){
                        return this;
                    },
                    renderTpl:
                        '<div id="{id}-btnWrap" style="margin-left:auto;margin-right:auto;padding-bottom:20px;">' +
                            '<div id="{id}-btnEl" class="tool-icon" role="button">' +
                                '<tpl if="href"><a href="{href}"></tpl>' +
                                '<tpl if="!href"><a href="javascript:void(0)"></tpl>' +
                                '<div><img id="{id}-btnIconEl" src="{icon}"/ ></div>' +
                                '<span id="{id}-btnInnerEl" >' +
                                    '{text}' +
                                '</span>' +
                                '</a>' +
                            '</div>' +
                        '</div>'
                },
                items: [{
                    text: 'Import Data',
                    renderData: {
                        icon: LABKEY.ActionURL.getContextPath() + '/study/tools/study_overview.png'
                    },
                    disabled: importItems.length == 0,
                    menu: {
                        showSeparator: false,
                        items: importItems
                    }
                },{
                    text: 'Import Samples',
                    renderData: {
                        icon: LABKEY.ActionURL.getContextPath() + '/study/tools/specimen_report.png'
                    },
                    disabled: sampleItems.length == 0,
                    menu: {
                        showSeparator: false,
                        items: sampleItems
                    }
                },{
                    text: 'Data Browser',
                    renderData: {
                        icon: LABKEY.ActionURL.getContextPath() + '/study/tools/timeline_chart.png'
                    },
                    href: LABKEY.ActionURL.buildURL('laboratory', 'dataBrowser', Laboratory.Utils.getQueryContainerPath())
                }]
            };

            if(LABKEY.Security.currentUser.isAdmin){
                config.items.push({
                    text: 'Settings',
                    renderData: {
                        icon: LABKEY.ActionURL.getContextPath() + '/study/tools/settings.png'
                    },
                    href: LABKEY.ActionURL.buildURL('laboratory', 'labSettings', Laboratory.Utils.getQueryContainerPath())
                });
            }

            var webpart = <%=webpartContext%>;
            Ext4.get(webpart.wrapperDivId).update('');
            Ext4.create('Ext.panel.Panel', config).render(webpart.wrapperDivId);
        }
    });
});

</script>