<script type="text/javascript">
    Ext4.onReady(function(){
        var webpart = <%=webpartContext%>;

        Ext4.create('Ext.panel.Panel', {
            border: false,
            defaults: {
                border: false
            },
            items: [{
                html: 'This page allows you to manage the subjects referenced by the sample and assay data in this folder.  You can enter basic demographics information about each subject, or note the projects where this subject was used.  If you enter this information you will be able to join these columns into any grid showing the assay or sample data.',
                style: 'padding-bottom: 20px'
            },{
                html: '<hr>'
            },{
                html: '<h2>Demographics Sources</h2>',
                style: 'padding-bottom: 10px;'
            },{
                style: 'padding-left: 10px;',
                border: false,
                items: [{
                    border: false,
                    html: 'A demographics source refers to a table containing information about the subjects present in your data.  Each of these sources should point to a table containing information about the subjectIds used in the assays and sample tables.  ' +
                        'Each target query should have a single primary key, which contains the subjectId.  When a demographics source is registered, the columns of ' +
                        'that table can automatically be joined into any of the assay or sample tables in this folder.  '
                },{
                    xtype: 'laboratory-managedemographicspanel'
                }]
            },{
                html: '<hr>',
                style: 'padding-top: 10px'
            },{
                html: '<h2>Groups, Studies and Enrollment</h2>',
                style: 'padding-bottom: 10px;'
            },{
                style: 'padding-left: 10px;',
                border: false,
                items: [{
                    border: false,
                    style: 'padding-bottom: 10px;',
                    html: 'The subjects is your data can be assigned to groups, which may represent a study, project or other grouping.  Each assignment has a start and end date (enddate is optional; blank indicates the subject is still assigned).  Entering this information provides several benefits.  For any data point or sample, so long as it contains a subjectId, the system can automatically tell you the groups to which it belongs.  This allows datasets to be filtered by group, without needing to tag each individiual data point.  In addition to filtering, the system can automatically calculate dates relative to the start (ie. days post start, weeks post start, etc).'
                },{
                    xtype: 'ldk-linkbutton',
                    text: 'Manage Groups and Enrollment',
                    href: LABKEY.ActionURL.buildURL('query', 'executeQuery', null, {schemaName: 'laboratory', 'query.queryName': 'project_usage'})
                }]
            },{
                html: '<hr>',
                style: 'padding-top: 10px'
            },{
                html: '<h2>Major Events</h2>',
                style: 'padding-bottom: 10px;'
            },{
                style: 'padding-left: 10px;',
                border: false,
                items: [{
                    border: false,
                    style: 'padding-bottom: 10px;',
                    html: 'For each subject, you can enter any number of \'major events\'.  These could include events such as vaccination, dates of surgeries or other events of relevance to your work.  If events are entered, the system is able to automatically calculate dates relative to these events.  In other words, you may have imported a freezer achive containing 100s or 1000s of samples.  Each of these freezer records contains the subjectId and sample date.  Rather than needing to tag each record with \'days post vaccination\', this number can be automatically calculated.  This is especially useful if you need to view relative dates for historic samples where an import event was not anticipated.'
                },{
                    xtype: 'ldk-linkbutton',
                    text: 'Manage Events for Subjects',
                    href: LABKEY.ActionURL.buildURL('query', 'executeQuery', null, {schemaName: 'laboratory', 'query.queryName': 'major_events'})
                }]
            }]
        }).render(webpart.wrapperDivId);
    });
</script>