<script type="text/javascript">

Ext4.onReady(function (){

    if (LABKEY.Security.currentUser.isAdmin){
        var webpart = <%=webpartContext%>;

        Ext4.define('ETLPanel', {
            extend: 'Ext.form.Panel',
            initComponent: function(){
                Ext4.apply(this, {
                    border: false,
                    items: [{
                        html: 'Loading...'
                    }],
                    buttons: [{
                        text: 'Submit',
                        handler: this.onSubmit
                    },{
                        text: 'Run ETL Now',
                        itemId: 'runEtlBtn',
                        disabled: true,
                        handler: function(btn){
                            LABKEY.Ajax.request({
                                url: LABKEY.ActionURL.buildURL('ogaSync', 'runEtl', null),
                                method : 'POST',
                                scope: this,
                                failure: LDK.Utils.getErrorCallback({
                                    showAlertOnError: true
                                })
                            });
                            Ext4.Msg.alert('Request Sent', 'A request has been sent to start the ETL');
                        }
//                    },{
//                        text: 'View ETL Log',
//                        href: LABKEY.ActionURL.buildURL('ogaSync', 'showEtlLog', '/')
                    }]
                });

                this.loadData();
                this.callParent();
            },

            loadData: function(){
                LABKEY.Ajax.request({
                    url: LABKEY.ActionURL.buildURL('ogaSync', 'getEtlDetails', null),
                    method : 'GET',
                    scope: this,
                    failure: LDK.Utils.getErrorCallback(),
                    success: this.onLoad
                });
            },

            onLoad: function(results){
                var json = LDK.Utils.decodeHttpResponseJson(results);
                var labelWidth = 180;
                var width = 550;

                var toAdd = [];
                toAdd.push({
                    xtype: 'checkbox',
                    fieldLabel: 'Enabled',
                    labelWidth: labelWidth,
                    width: width,
                    itemId: 'etlStatus',
                    checked: json.enabled
                });

                toAdd.push({
                    xtype: 'displayfield',
                    fieldLabel: 'Last Run',
                    labelWidth: labelWidth,
                    width: width,
                    value: json.lastRun
                });

                toAdd.push({
                    xtype: 'displayfield',
                    fieldLabel: 'Next Run',
                    labelWidth: labelWidth,
                    width: width,
                    value: json.nextRun
                });

                if (json.enabled)
                    this.down('#runEtlBtn').setDisabled(false);

                Ext4.each(json.configKeys, function(key){
                    toAdd.push({
                        xtype: 'textfield',
                        labelWidth: labelWidth,
                        width: width,
                        itemId: key,
                        fieldLabel: key,
                        value: json.config[key]
                    });
                }, this);

                this.removeAll();
                this.add({
                    title: 'ETL Settings',
                    xtype: 'form',
                    itemId: 'etlSettings',
                    bodyStyle: 'padding: 5px;',
                    items: toAdd
                });
            },

            onSubmit: function(btn){
                var form = btn.up('form');
                var settings = form.down('#etlSettings');
                var fields = settings.getForm().getFields();

                var json = {};

                fields.each(function(field){
                    if (field.itemId)
                        json[field.itemId] = field.getValue();
                }, this);

                Ext4.Msg.wait('Saving...');
                LABKEY.Ajax.request({
                    url: LABKEY.ActionURL.buildURL('ogaSync', 'setEtlDetails', null),
                    method : 'POST',
                    params: json,
                    scope: this,
                    failure: LDK.Utils.getErrorCallback(),
                    success: function(response){
                        Ext4.Msg.hide();
                        Ext4.Msg.alert('Success', 'Save Successful', function(){
                            window.location.reload();
                        });
                    }
                });
            }
        });

        Ext4.create('ETLPanel', {}).render('etl_div');
    }
});

</script>


This page allows configuration of the OGA ETL.  There can only be one instance of the ETL active per site at any time.  Below are explanations for the config properties:
<p></p>

<ul>
    <li>
        labkeyUser: A valid LabKey user, which should have admin permission in the target folder
    </li>
    <li>
        labkeyContainer: The containerPath where the data will be saved
    </li>
    <li>
        dataSourceName: The name of the data source, which should be defined in the tomcat XML file (either labkey.xml or ROOT.xml)
    </li>
    <li>
        schemaName: The name of the source schema
    </li>
    <li>
        ogaQueryName: The name of the source table for OGA aliases
    </li>
    <li>
        allQueryName: The name of the source table for all aliases
    </li>
    <li>
        hourOfDay: The hour (0-23) when the sync should run.  It will run once per day.
    </li>
</ul>
<div id="etl_div"/>