<script type="text/javascript">

    Ext4.onReady(function(){
        var jobId = LABKEY.ActionURL.getParameter('jobId');

        if (!jobId){
            alert('Must Provide The BLAST Job Id');
            return;
        }

        var webpart = <%=webpartContext%>;

        Ext4.define('BLAST.panel.BlastDetailsPanel', {
            extend: 'Ext.panel.Panel',

            initComponent: function(){
                Ext4.apply(this, {
                    border: false,
                    bodyStyle: 'padding: 5px;',
                    defaults: {
                        border: false
                    },
                    items: [{
                        xtype: 'labkey-detailspanel',
                        showTitle: false,
                        showBackBtn: false,
                        store: {
                            schemaName: 'blast',
                            queryName: 'blast_jobs',
                            filterArray: [
                                LABKEY.Filter.create('objectid', jobId, LABKEY.Filter.Types.EQUAL)
                            ]
                        }
                    },{
                        html: '<hr>'
                    },{
                        itemId: 'htmlArea',
                        defaults: {
                            border: false
                        },
                        items: [{
                            html: 'Loading...'
                        }]
                    }]
                });

                this.callParent(arguments);

                this.doLoad();
            },

            doLoad: function(){
                LABKEY.Ajax.request({
                    url: LABKEY.ActionURL.buildURL('blast', 'getBlastResult', null, {jobId: jobId}),
                    scope: this,
                    success: LABKEY.Utils.getCallbackWrapper(this.onLoad, this),
                    failure: LABKEY.Utils.getCallbackWrapper(LDK.Utils.getErrorCallback(), this)
                });
            },

            onLoad: function(results){
                if (results){
                    var target = this.down('#htmlArea');
                    target.removeAll();

                    if (results.jobId){
                        target.add([{
                            html: '<br>'
                        },{
                            xtype: 'ldk-querypanel',
                            queryConfig: {
                                schemaName: 'pipeline',
                                queryName: 'job',
                                filterArray: [LABKEY.Filter.create('job', results.jobId)]
                            }
                        },{
                            html: '<br><hr>'
                        }]);
                    }

                    if (results.html) {
                        target.add({
                            html: results.html
                        });
                    }
                    else if (!results.hasRun) {
                        target.add({
                            html: 'This job has not yet run.  Reload this page to update this status.'
                        });
                    }
                    else if (results.hasRun && !results.html){
                        target.add({
                            html: 'This job has run, but the results have been deleted.'
                        });
                    }
                }
            }

        });

        Ext4.create('BLAST.panel.BlastDetailsPanel', {

        }).render(webpart.wrapperDivId);

    });

</script>