<script type="text/javascript">

    Ext4.onReady(function(){
        var outputFileIds = LABKEY.ActionURL.getParameter('outputFileIds') || '';
        outputFileIds = outputFileIds.split(';');
        if (!outputFileIds.length){
            Ext4.Msg.alert('Error', 'Must Provide Outfile Files Ids');
            return;
        }

        Ext4.define('GeneticsCore.panel.MethylationComparisonPanel', {
            extend: 'Ext.form.Panel',
            alias: 'widget.sequenceanalysis-MethylationComparisonPanel',
            LABEL_WIDTH: 125,

            initComponent: function(){
                Ext4.QuickTips.init();

                this.outputFileStore = Ext4.create('LABKEY.ext4.data.Store', {
                    type: 'labkey-store',
                    autoLoad: true,
                    containerPath: Laboratory.Utils.getQueryContainerPath(),
                    schemaName: 'sequenceanalysis',
                    queryName: 'outputfiles',
                    columns: 'rowid,name,dataid,dataid/name,dataid/fileexists,container/path,container/displayName',
                    filterArray: [LABKEY.Filter.create('rowid', this.outputFileIds.join(';'), LABKEY.Filter.Types.IN)],
                    sort: 'name',
                    listeners: {
                        scope: this,
                        load: this.onLoad
                    }
                });

                Ext4.apply(this, {
                    border: false,
                    defaults: {
                        border: true,
                        bodyStyle: 'padding: 5px;',
                        style: 'padding-bottom: 10px;',
                        defaults: {
                            border: false,
                            bodyStyle: 'padding: 5px;'
                        }
                    },
                    fieldDefaults: {
                        labelWidth: 200,
                        width: 450
                    },
                    items: [{
                        title: 'Instructions',
                        items: [{
                            html: 'This tool can be used to calculate p-values for methylation rates across groups, and can run comb-p on these p-values to find significant regions.  Please choose from the options below:'
                        }]
                    },{
                        title: 'Sample Information',
                        itemId: 'sampleInfo',
                        items: [{
                            xtype: 'dataview',
                            store: this.outputFileStore,
                            itemSelector: 'tr.file_list',
                            tpl: [
                                '<table class="fileNames"><tr class="fileNames"><td>File Id</td><td>Name</td><td>File</td><td>Folder</td></tr>',
                                '<tpl for=".">',
                                '<tr class="file_list">',
                                '<td><a href="{[LABKEY.ActionURL.buildURL("query", "executeQuery", values.queryContainerPath, {schemaName: "sequenceanalysis", "query.queryName":"outputfiles", "query.rowId~eq": values.rowid})]}" target="_blank">{rowid:htmlEncode}</a></td>',
                                '<td><a href="{[LABKEY.ActionURL.buildURL("query", "executeQuery", values.queryContainerPath, {schemaName: "sequenceanalysis", "query.queryName":"outputfiles", "query.rowId~eq": values.rowid})]}" target="_blank">{name:htmlEncode}</a></td>',
                                '<td',
                                '<tpl if="values.dataid && !values[\'dataid/fileexists\']"> style="background: red;" data-qtip="File does not exist"</tpl>',
                                '><a href="{[LABKEY.ActionURL.buildURL("experiment", "showData", values.queryContainerPath, {rowId: values.dataid})]}" target="_blank">{[Ext4.htmlEncode(values["dataid/name"])]}</a></td>',
                                '<td><a href="{[LABKEY.ActionURL.buildURL("project", "start", values["container/path"], {})]}" target="_blank">{[Ext4.htmlEncode(values["container/displayName"])]}</a></td>',
                                '</tr>',
                                '</tpl>',
                                '</table>'
                            ]
                        }]
                    },{
                        title: 'Step 1: Filters/Thresholds',
                        items: [{
                            xtype: 'textfield',
                            allowBlank: false,
                            fieldLabel: 'Job Name',
                            name: 'jobName',
                            value: 'MethylationComparison_'+ Ext4.Date.format(new Date(), 'Ymd')
                        },{
                            xtype: 'textarea',
                            allowBlank: true,
                            fieldLabel: 'Job Description',
                            name: 'jobDescription'
                        },{
                            xtype: 'textfield',
                            allowBlank: false,
                            fieldLabel: 'Group 1 Name',
                            name: 'group1',
                            value: 'Group 1'
                        },{
                            xtype: 'textfield',
                            allowBlank: false,
                            fieldLabel: 'Group 2 Name',
                            name: 'group2',
                            value: 'Controls'
                        },{
                            xtype: 'ldk-integerfield',
                            allowBlank: true,
                            fieldLabel: 'Min Depth Per Site',
                            name: 'minDepthPerSite',
                            value: 10
                        },{
                            xtype: 'ldk-integerfield',
                            allowBlank: true,
                            fieldLabel: 'Min Datapoints Per Group',
                            name: 'minDatapointsPerGroup',
                            value: 3
                        },{
                            xtype: 'radiogroup',
                            allowBlank: true,
                            fieldLabel: 'Statistical Method',
                            name: 'statisticalMethod',
                            items: [{
                                inputValue: 'wilcox',
                                name: 'statisticalMethod',
                                checked: true,
                                boxLabel: 'Wilcoxon p-value'
                            }]
                        }]
                    },{
                        title: 'Step 2: Define Groups',
                        itemId: 'sampleSection',
                        items: [{
                            html: 'Loading...'
                        }]
                    },{
                        title: 'Step 2: Comb-p (optional)',
                        items: [{
                            xtype: 'checkbox',
                            inputValue: true,
                            fieldLabel: 'Run Comb-p',
                            name: 'combp',
                            checked: true
                        },{
                            xtype: 'ldk-integerfield',
                            minValue: 0,
                            fieldLabel: 'Distance',
                            name: 'distance',
                            value: 300,
                            helpPopup: 'This parameter tells the program to merge peaks within X bases of each other'
                        },{
                            xtype: 'ldk-numberfield',
                            minValue: 0,
                            fieldLabel: 'Seed',
                            name: 'seed',
                            value: 0.05,
                            helpPopup: 'This parameter tells the program to select peaks with p-value <X'
                        },{
                            xtype: 'ldk-numberfield',
                            minValue: 0,
                            fieldLabel: 'Step',
                            name: 'step',
                            value: 100
                        }]
                    }],
                    buttonAlign: 'left',
                    buttons: [{
                        text: 'Submit',
                        scope: this,
                        handler: this.onSubmit
                    }]
                });

                this.callParent(arguments);
            },

            onLoad: function(store){
                var target = this.down('#sampleSection');
                target.removeAll();
                target.add({
                    xtype: 'itemselector',
                    store: this.outputFileStore,
                    width: '100%',
                    displayField: 'rowid',
                    valueField: 'rowid',
                    name: 'groupMembership',
                    listConfig: {
                        itemTpl: '{rowid}: {name:htmlEncode}'
                    }
                });
            },

            onSubmit: function(){
                if (!this.getForm().isValid()){
                    Ext4.Msg.alert('Error', 'One or more fields is invalid.  Please fill in any missing or invalid values (marked in red)');
                    return;
                }

                var params = this.getForm().getFieldValues();
                params.groupNames = [];
                params.groupNames.push(params.group1);
                params.groupNames.push(params.group2);
                delete params.group1;
                delete params.group2;

                params.fileToGroupMap = {};
                var group2 = params.groupMembership;
                Ext4.Array.forEach(this.outputFileIds, function(id){
                    params.fileToGroupMap[id] = group2.indexOf(parseInt(id)) > -1 ? 1 : 0;
                }, this);
                delete params.groupMembership;

                if (group2.length < 2 || (this.outputFileIds.length - group2.length) < 2)
                {
                    Ext4.Msg.alert('Error', 'Each group must have at least 2 members');
                    return;
                }

                Ext4.Msg.wait('Saving...');
                LABKEY.Ajax.request({
                    url: LABKEY.ActionURL.buildURL('sequenceanalysis', 'runSequenceHandler'),
                    jsonData: {
                        handlerClass: 'org.labkey.GeneticsCore.analysis.MethylationRateComparisonHandler',
                        outputFileIds: this.outputFileIds,
                        params: Ext4.encode(params)
                    },
                    scope: this,
                    success: function(){
                        Ext4.Msg.hide();

                        window.location = LABKEY.ActionURL.buildURL('pipeline-status', 'showList');
                    },
                    failure: LABKEY.Utils.getCallbackWrapper(LDK.Utils.getErrorCallback())
                });
            }
        });

        Ext4.create('GeneticsCore.panel.MethylationComparisonPanel', {
            outputFileIds: outputFileIds
        }).render(<%=webpartContext%>.wrapperDivId);
    });
</script>