<script type="text/javascript">

    Ext4.onReady(function () {
        var analysisIds = LABKEY.ActionURL.getParameter('analysisIds');

        if (!analysisIds) {
            alert('Must Provide At Least One Analysis Id');
            return;
        }

        Ext4.define('GeneticsCore.panel.SBTReviewPanel', {
            extend: 'Ext.panel.Panel',
            initComponent: function () {
                Ext4.Array.forEach(this.analysisIds, function(id, idx){
                    this.analysisIds[idx] = parseInt(id);
                }, this);

                this.analysisIds = this.analysisIds.sort();
                var analysisId = LABKEY.ActionURL.getParameter('analysisId') || this.analysisIds[0];
                analysisId = parseInt(analysisId);

                Ext4.apply(this, {
                    border: false,
                    //bodyStyle: 'padding: 5px;',
                    defaults: {
                        border: false
                    },
                    items: [{
                        xtype: 'ldk-webpartpanel',
                        style: 'margin-bottom: 30px;',
                        items: [{
                            html: 'This page is designed to help review the results of sequence based genotyping data.  Use the buttons below to scroll between the analyses you selected.<br><br>' +
                            'Currently showing: ' + analysisId + ' (' + (this.analysisIds.indexOf(analysisId) + 1) + ' of ' + this.analysisIds.length + ')',
                            border: false,
                            style: 'margin-bottom: 20px;'
                        },{
                            layout: 'hbox',
                            border: false,
                            items: [{
                                xtype: 'labkey-combo',
                                itemId: 'analysisCombo',
                                fieldLabel: 'Jump To Analysis',
                                style: 'margin-right: 10px;',
                                forceSelection: true,
                                showValueInList: true,
                                queryMode: 'local',
                                labelWidth: 150,
                                valueField: 'rowid',
                                displayField: 'readset/name',
                                value: analysisId,
                                store: {
                                    type: 'labkey-store',
                                    containerPath: Laboratory.Utils.getQueryContainerPath(),
                                    schemaName: 'sequenceanalysis',
                                    queryName: 'sequence_analyses',
                                    columns: 'rowid,readset/name',
                                    sort: 'rowid',
                                    filterArray: [LABKEY.Filter.create('rowid', this.analysisIds.join(';'), LABKEY.Filter.Types.EQUALS_ONE_OF)],
                                    autoLoad: true
                                }
                            },{
                                xtype: 'button',
                                text: 'Go',
                                scope: this,
                                handler: function(){
                                    var analysisId = this.down('#analysisCombo').getValue();
                                    if (!analysisId){
                                        Ext4.Msg.alert('Error', 'No analysis selected');
                                    }
                                    else {
                                        this.changeAnalysis(analysisId);
                                    }
                                }
                            }]
                        }]
                    },{
                        xtype: 'panel',
                        itemId: 'sbtPanel',
                        style: 'margin-bottom: 40px;'
                    }],
                    buttonAlign: 'left',
                    buttons: [{
                        text: 'Previous',
                        scope: this,
                        handler: function () {
                            var idx = Ext4.Array.indexOf(this.analysisIds, this.activeAnalysisId);
                            idx--;
                            if (idx < 0){
                                Ext4.Msg.alert('Error', 'This is the first analysis');
                            }
                            else {
                                this.changeAnalysis(this.analysisIds[idx]);
                            }
                        }
                    },{
                        text: 'Next',
                        scope: this,
                        handler: function () {
                            var idx = Ext4.Array.indexOf(this.analysisIds, this.activeAnalysisId);
                            idx++;

                            if (idx >= this.analysisIds.length){
                                Ext4.Msg.alert('Error', 'This is the last analysis');
                            }
                            else {
                                this.changeAnalysis(this.analysisIds[idx]);
                            }
                        }
                    },{
                        text: 'Refresh',
                        scope: this,
                        handler: function () {
                            this.doLayout();
                        }
                    }]
                });

                this.callParent(arguments);

                this.loadAnalysis(analysisId);
            },

            changeAnalysis: function(analysisId){
                window.location = LABKEY.ActionURL.buildURL('geneticscore', 'sbtReview', null, {
                    analysisIds: this.analysisIds.join(';'),
                    analysisId: analysisId
                });
            },

            loadAnalysis: function (analysisId) {
                analysisId = parseInt(analysisId);
                this.activeAnalysisId = analysisId;
                this.down('#analysisCombo').setValue(analysisId);

                var panel = this.down('#sbtPanel');
                this.pendingLoads = 5;
                panel.removeAll();
                panel.add([{
                    xtype: 'ldk-querypanel',
                    style: 'margin-bottom: 30px;',
                    queryConfig: LDK.Utils.getReadOnlyQWPConfig({
                        title: 'Analysis Details',
                        schemaName: 'sequenceanalysis',
                        queryName: 'sequence_analyses',
                        containerPath: Laboratory.Utils.getQueryContainerPath(),
                        filterArray: [LABKEY.Filter.create('rowid', analysisId, LABKEY.Filter.Types.EQUAL)],
                        scope: this,
                        success: this.onDataRegionLoad
                    })
                },{
                        xtype: 'ldk-querypanel',
                        style: 'margin-bottom: 30px;',
                        queryConfig: LDK.Utils.getReadOnlyQWPConfig({
                            title: 'Alignments, By Allele',
                            allowHeaderLock: false,
                            schemaName: 'sequenceanalysis',
                            queryName: 'alignment_summary_grouped',
                            //viewName: 'With Haplotype Matches',
                            //sort: '-percent',
                            containerPath: Laboratory.Utils.getQueryContainerPath(),
                            filterArray: [LABKEY.Filter.create('analysis_id', analysisId, LABKEY.Filter.Types.EQUAL)],
                            removeableFilters: [
                                LABKEY.Filter.create('percent_from_locus', 0.25, LABKEY.Filter.Types.GTE)
                            ],
                            scope: this,
                            success: this.onDataRegionLoad
                        })
                    },{
                        xtype: 'ldk-querypanel',
                        style: 'margin-bottom: 30px;',
                        queryConfig: LDK.Utils.getReadOnlyQWPConfig({
                            title: 'Alignments, By Lineage',
                            allowHeaderLock: false,
                            schemaName: 'sequenceanalysis',
                            queryName: 'alignment_summary_by_lineage',
                            //viewName: 'With Haplotype Matches',
                            sort: '-percent',
                            containerPath: Laboratory.Utils.getQueryContainerPath(),
                            filterArray: [LABKEY.Filter.create('analysis_id', analysisId, LABKEY.Filter.Types.EQUAL)],
                            removeableFilters: [
                                LABKEY.Filter.create('percent_from_locus', 0.25, LABKEY.Filter.Types.GTE),
                                LABKEY.Filter.create('total_reads', 5, LABKEY.Filter.Types.GT),
                                LABKEY.Filter.create('totalLineages', 1, LABKEY.Filter.Types.EQUAL)
                            ],
                            scope: this,
                            success: this.onDataRegionLoad
                        })
                    },{
                        xtype: 'ldk-webpartpanel',
                        style: 'margin-bottom: 30px;',
                        title: 'Haplotype Matches',
                        items: [{
                            xtype: 'geneticscore-haplotypepanel',
                            analysisIds: [analysisId]
                        }]
                    },{
                        xtype: 'ldk-querypanel',
                        style: 'margin-bottom: 30px;',
                        queryConfig: LDK.Utils.getReadOnlyQWPConfig({
                            title: 'Published Results',
                            allowHeaderLock: false,
                            schemaName: 'assay.GenotypeAssay.Genotype',
                            queryName: 'Data',
                            containerPath: Laboratory.Utils.getQueryContainerPath(),
                            filterArray: [LABKEY.Filter.create('analysisId', analysisId, LABKEY.Filter.Types.EQUAL)],
                            failure: function(){
                                console.log(arguments);
                            },
                            scope: this,
                            success: this.onDataRegionLoad,
                            showUpdateColumn: true,
                            showDeleteButton: true
                        })
                    }
                ]);
            },

            onDataRegionLoad: function(dr){
                var itemWidth = Ext4.get(dr.domId).getSize().width + 150;
                this.doResize(itemWidth);

                if (this.pendingLoads > 0){
                    this.pendingLoads--;
                    if (this.pendingLoads == 0){
                        this.doLayout.defer(200, this);
                        this.pendingLoads = -1;
                    }
                }
            },

            doResize: function(itemWidth){
                var width2 = this.getWidth();
                if (itemWidth > width2){
                    this.setWidth(itemWidth);
                    this.doLayout();
                }
                else if (itemWidth < width2) {
                    if (this.originalWidth && width2 != this.originalWidth){
                        this.setWidth(Math.max(this.originalWidth, itemWidth));
                        this.doLayout();
                    }
                }
            }
        });

        var webpart = <%=webpartContext%>;

        Ext4.create('GeneticsCore.panel.SBTReviewPanel', {
            analysisIds: analysisIds.split(';')
        }).render(webpart.wrapperDivId);

    });

</script>