<module xmlns="http://labkey.org/moduleProperties/xml/">
    <properties>
        <propertyDescriptor name="SLAContainer">
            <canSetPerContainer>true</canSetPerContainer>
            <description>The path to the container holding SLA data.  Use of slashes is very important - it should be in the format '/myProject/ehr'</description>
            <editPermissions>
                <permission>ADMIN</permission>
            </editPermissions>
        </propertyDescriptor>
        <propertyDescriptor name="SLAAdminGroupName">
            <description>The SLA Admin group name, to be used for email notifications for SLA Purchase Order submission, updates, etc.</description>
            <editPermissions>
                <permission>ADMIN</permission>
            </editPermissions>
        </propertyDescriptor>
        <propertyDescriptor name="SLAPurchaseOrderAdminContainer">
            <description>The container path to the container where purchase order data and access information is saved. Use of slashes is very important - it should be in the format '/SLA/Admin'.</description>
            <editPermissions>
                <permission>ADMIN</permission>
            </editPermissions>
        </propertyDescriptor>
    </properties>
    <requiredModuleContext>
        <requiredModule name="LDK"/>
    </requiredModuleContext>
    <clientDependencies>
        <dependency path="Ext4"/>
        <dependency path="Ext4ClientApi"/>
        <dependency path="clientapi"/>
        <dependency path="LDK.context"/>
        <!--<dependency path="sla/sla"/>-->
    </clientDependencies>
</module>
