<script type="text/javascript" nonce="<%=scriptNonce%>">

    (function($, LABKEY) {
        $(function(){
            $( document ).ready(function() {
                const studyId = LABKEY.ActionURL.getParameter('studyId')
                if (!studyId) {
                    alert('Must supply a study ID!')
                    return
                }

                const webpart = <%=webpartContext%>;

                const parentDiv = $('#' + webpart.wrapperDivId)
                parentDiv.append('<div id="' + webpart.wrapperDivId + '-studyCohorts"></div>')
                parentDiv.append('<div id="' + webpart.wrapperDivId + '-demographics"></div>')
                parentDiv.append('<div id="' + webpart.wrapperDivId + '-anchorEvents"></div>')
                parentDiv.append('<div id="' + webpart.wrapperDivId + '-expectedTimepoints"></div>')

                LDK.Utils.getBasicQWP({
                    frame: 'portal',
                    title: 'Cohorts',
                    name: 'query-studies',
                    schemaName: 'studies',
                    queryName: 'studyCohorts',
                    filterArray: [LABKEY.Filter.create('studyId',studyId, LABKEY.Filter.Types.EQUAL)],
                    maxRows: 20,
                    renderTo: webpart.wrapperDivId + '-studyCohorts'
                }).render();

                if (LABKEY.getModuleContext('study')?.subject) {
                    const hasAssignmentDataset = !!LABKEY.getModuleContext('studies')?.hasAssignmentDataset
                    if (hasAssignmentDataset) {
                        LABKEY.Query.selectRows({
                            schemaName: 'studies',
                            queryName: 'studies',
                            columns: 'rowId,studyName',
                            filterArray: [LABKEY.Filter.create('rowId', studyId)],
                            failure: LDK.Utils.getErrorCallback(),
                            success: function(results) {
                                const studyName = results.rows?.[0].studyName;
                                LDK.Assert.assertNotEmpty('StudyName was empty in manageStudy.view', studyName);

                                const projectFieldName = 'allProjectsPivot/' + studyName + '::lastStartDate';
                                const demographicsDefaultView = LABKEY.getModuleProperty('studies', 'demographicsDefaultView')
                                LDK.Utils.getBasicQWP({
                                    frame: 'portal',
                                    title: LABKEY.moduleContext.study?.subject.nounPlural,
                                    name: 'query-demographics',
                                    schemaName: 'study',
                                    queryName: 'demographics',
                                    viewName: demographicsDefaultView,
                                    filterArray: [LABKEY.Filter.create(projectFieldName, null, LABKEY.Filter.Types.NONBLANK)],
                                    maxRows: 20,
                                    renderTo: webpart.wrapperDivId + '-demographics'
                                }).render();
                            },
                            scope: this
                        });
                    }
                }

                LDK.Utils.getBasicQWP({
                    frame: 'portal',
                    title: 'Anchor Events',
                    name: 'query-anchorEvents',
                    schemaName: 'studies',
                    queryName: 'anchorEvents',
                    filterArray: [LABKEY.Filter.create('studyId',studyId, LABKEY.Filter.Types.EQUAL)],
                    maxRows: 20,
                    renderTo: webpart.wrapperDivId + '-anchorEvents'
                }).render();

                LDK.Utils.getBasicQWP({
                    frame: 'portal',
                    title: 'Expected Timepoints',
                    name: 'query-expectedTimepoints',
                    schemaName: 'studies',
                    queryName: 'expectedTimepoints',
                    filterArray: [LABKEY.Filter.create('studyId',studyId, LABKEY.Filter.Types.EQUAL)],
                    maxRows: 20,
                    renderTo: webpart.wrapperDivId + '-expectedTimepoints'
                }).render();
            })
        });
    }(jQuery, LABKEY));

</script>

<br><br>