# Designed to keep develop branch as a perfect copy of LabKey fork
on:
  schedule:
    - cron:  "10 */3 * * *"
jobs:
  sync-release-branches:
    if: github.repository == 'BimberLab/DiscvrLabKeyModules'
    runs-on: ubuntu-latest
    steps:
      - name: "Sync Release Branches"
        uses: bimberlabinternal/DevOps/githubActions/branch-create@master
        with:
          source_repo: "labkey/DiscvrLabKeyModules"
          source_branch_prefix: "release"
          destination_repo: "BimberLab/DiscvrLabKeyModules"
          destination_branch_prefix: "discvr-"
          # NOTE: permissions are limited on the default secrets.GITHUB_TOKEN, including updating workflows, so use a personal access token
          github_token: ${{ secrets.PAT }}
  sync-develop:
    if: github.repository == 'BimberLab/DiscvrLabKeyModules'
    runs-on: ubuntu-latest
    steps:
      - name: "Sync Develop Branch"
        uses: bimberlabinternal/DevOps/githubActions/git-sync@master
        with:
          source_repo: "labkey/DiscvrLabKeyModules"
          source_branch: "develop"
          destination_branch: "develop"
          github_token: ${{ secrets.GITHUB_TOKEN }}
