# Designed to keep develop branch as a perfect copy of LabKey fork
on:
  schedule:
    - cron:  "*/15 * * * *"
jobs:
  sync-develop:
    runs-on: ubuntu-latest
    steps:
      - name: "Sync Develop Branch"
        uses: bimberlabinternal/DevOps/githubActions/git-sync@master
        with:
          source_repo: "labkey/DiscvrLabkeyModules"
          source_branch: "develop"
          destination_branch: "develop"
          github_token: ${{ secrets.GITHUB_TOKEN }}
